Repository destroyer42/StableNew2: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-daemon-threads, require-thread-registry

.pre-commit-config.yaml:

# Pre-commit hooks for code quality and consistency
# Install with: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Custom StableNew architectural guardrails (PR-THREAD-001)
  - repo: local
    hooks:
      # Prevent daemon=True threads
      - id: no-daemon-threads
        name: Check for daemon=True thread usage
        entry: python scripts/check_daemon_threads.py
        language: python
        types: [python]
        pass_filenames: false
        stages: [commit]
        description: "Ensures no new daemon threads are introduced (use ThreadRegistry instead)"
      
      # Ensure ThreadRegistry is used for new threads
      - id: require-thread-registry
        name: Verify threading.Thread() uses ThreadRegistry
        entry: python scripts/check_thread_registry_usage.py
        language: python
        types: [python]
        files: ^src/
        pass_filenames: true
        stages: [commit]
        description: "Validates all new threading.Thread() calls use ThreadRegistry.spawn()"
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(archive|ARCHIVE)/
      - id: end-of-file-fixer
        exclude: ^(archive|ARCHIVE)/
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
        exclude: ^(archive|ARCHIVE)/

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.15
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        exclude: ^(archive|ARCHIVE)/
      - id: ruff-format
        exclude: ^(archive|ARCHIVE)/

  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        language_version: python3.11
        exclude: ^(archive|ARCHIVE)/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [types-requests]
        exclude: ^(tests|archive|ARCHIVE)/
        args: [--ignore-missing-imports, --show-error-codes]

docs: close out PR-TEST-OPERATOR-110 as accepted and integrated
  STATUS.md
Due: none

fix: complete the discovered scan index for classified artifacts
  STATUS.md
  src/gui/controllers/learning_controller.py
  src/learning/discovered_grouping.py
  src/learning/discovered_scan_service.py
  src/learning/output_scan_models.py
  src/learning/output_scanner.py
  tests/gui_v2/test_discovered_review_inbox.py
  tests/learning_v2/test_discovered_scan_index.py
  tests/tools/test_operator_journey_gui.py
  tools/operator_journey/journeys/discovered_outputs_review.py
Due: no-daemon-threads, require-thread-registry

fix: never backfill scan-index keys for pre-existing discovered groups
  STATUS.md
  src/learning/discovered_grouping.py
  src/learning/discovered_scan_service.py
  tests/learning_v2/test_discovered_scan_index.py
Due: no-daemon-threads, require-thread-registry

docs: close out PR-LEARN-302 as accepted and integrated
  STATUS.md
Due: none

test: qualify Wan2.2 TI2V-5B and Wan2.1 VACE-1.3B for directed motion on the 12-GB card
  STATUS.md
  docs/StableNew Roadmap v2.6.md
  docs/Subsystems/Video/PR-VID-110_Directed_Motion_Qualification.md
  tests/tools/test_vid110_qualification.py
  tools/qualification/vid110/__init__.py
  tools/qualification/vid110/comfy_client.py
  tools/qualification/vid110/evidence.py
  tools/qualification/vid110/inventory.py
  tools/qualification/vid110/metrics.py
  tools/qualification/vid110/monitor.py
  tools/qualification/vid110/owned_comfy.py
  tools/qualification/vid110/run.py
  tools/qualification/vid110/scorecard.py
  tools/qualification/vid110/session_a.py
  tools/qualification/vid110/session_b.py
  tools/qualification/vid110/workflows.py
Due: no-daemon-threads

test: add operator-media Wan2.2 run and record GPU loss that halted the VACE control-video lane
  STATUS.md
  docs/StableNew Roadmap v2.6.md
  docs/Subsystems/Video/PR-VID-110_Directed_Motion_Qualification.md
  tests/tools/test_vid110_qualification.py
  tools/qualification/vid110/metrics.py
  tools/qualification/vid110/scorecard.py
  tools/qualification/vid110/session_c.py
Due: no-daemon-threads

test: complete the VACE control-video comparison and record the GPU-loss investigation
  STATUS.md
  docs/StableNew Roadmap v2.6.md
  docs/Subsystems/Video/PR-VID-110_Directed_Motion_Qualification.md
  tests/tools/test_vid110_qualification.py
  tools/qualification/vid110/monitor.py
  tools/qualification/vid110/run.py
  tools/qualification/vid110/scorecard.py
  tools/qualification/vid110/session_c.py
Due: no-daemon-threads

test: requalify Ideogram 4 NF4 on the 12GB target; supersede the hardware no-go
  STATUS.md
  docs/CODEX_MAP.md
  docs/StableNew Roadmap v2.6.md
  docs/Subsystems/Image/PR-IMG-110R_Ideogram4_Requalification.md
  docs/Subsystems/Image/PR-IMG-110_Diffusers_Ideogram4_Qualification.md
  tests/tools/test_img110r_qualification.py
  tools/qualification/img110r/__init__.py
  tools/qualification/img110r/caption.py
  tools/qualification/img110r/common.py
  tools/qualification/img110r/harness.py
  tools/qualification/img110r/orchestrate.py
  tools/qualification/img110r/run_diffusers.py
  tools/qualification/img110r/run_official.py
  tools/qualification/img110r/verdict.py
Due: no-daemon-threads

docs: close out PR-IMG-110R as accepted and integrated
  STATUS.md
  docs/StableNew Roadmap v2.6.md
  docs/Subsystems/Image/PR-IMG-110R_Ideogram4_Requalification.md
Due: none

test: add pose-skeleton VACE control run; close VACE-1.3B for identity-preserving motion
  STATUS.md
  docs/CODEX_MAP.md
  docs/StableNew Roadmap v2.6.md
  docs/Subsystems/Video/PR-VID-110_Directed_Motion_Qualification.md
  tests/tools/test_vid110_qualification.py
  tools/qualification/vid110/pose.py
  tools/qualification/vid110/scorecard.py
  tools/qualification/vid110/session_d.py
  tools/qualification/vid110/workflows.py
Due: no-daemon-threads

docs: trim trailing blank line
  docs/Subsystems/Video/PR-VID-110_Directed_Motion_Qualification.md
Due: none

docs: close out PR-VID-110 as accepted and integrated
  STATUS.md
  docs/StableNew Roadmap v2.6.md
Due: none

feat: capability-aware backend-neutral video execution contract (PR-VID-120)
  STATUS.md
  docs/ARCHITECTURE_v2.6.md
  docs/CODEX_MAP.md
  docs/StableNew Roadmap v2.6.md
  docs/Subsystems/Video/PR-VID-120_Neutral_Video_Execution_Contract.md
  src/pipeline/pipeline_runner.py
  src/video/animatediff_backend.py
  src/video/comfy_workflow_backend.py
  src/video/svd_native_backend.py
  src/video/video_backend_registry.py
  src/video/video_backend_types.py
  src/video/video_execution_resolver.py
  src/video/workflow_contracts.py
  tests/integration/test_pr_vid_120_neutral_video_queue.py
  tests/video/test_video_execution_contract.py
Due: no-daemon-threads, require-thread-registry

docs: close out PR-VID-120 as accepted and integrated
  STATUS.md
  docs/StableNew Roadmap v2.6.md
  docs/Subsystems/Video/PR-VID-120_Neutral_Video_Execution_Contract.md
Due: none

feat: Wan2.2 TI2V-5B experimental I2V workflow with per-job opt-in, neutral producer and readiness guard (PR-VID-130)
  src/controller/ports/default_runtime_ports.py
  src/controller/video_workflow_controller.py
  src/gui/view_contracts/video_workspace_contract.py
  src/gui/views/video_workflow_tab_frame_v2.py
  src/video/comfy_api_client.py
  src/video/comfy_dependency_probe.py
  src/video/comfy_workflow_backend.py
  src/video/video_backend_types.py
  src/video/video_execution_resolver.py
  src/video/video_workflow_intent.py
  src/video/workflow_catalog.py
  src/video/workflow_contracts.py
  src/video/workflow_readiness.py
  src/video/workflow_registry.py
  tests/controller/test_runtime_backend_port_wiring.py
  tests/integration/test_pr_vid_130_wan_experimental_queue.py
  tests/video/test_wan22_experimental_workflow.py
  tests/video/test_workflow_registry.py
Due: no-daemon-threads, require-thread-registry

fix: Wan readiness trusts driver-reported free VRAM, not Comfy's own figure
  src/video/workflow_readiness.py
  tests/integration/test_pr_vid_130_wan_experimental_queue.py
  tests/video/test_wan22_experimental_workflow.py
Due: no-daemon-threads, require-thread-registry

fix: absolute Comfy output path; acceptance driver never orphans its managed Comfy
  src/video/comfy_workflow_backend.py
  tests/video/test_wan22_experimental_workflow.py
  tools/acceptance/__init__.py
  tools/acceptance/vid130_wan_acceptance.py
Due: no-daemon-threads, require-thread-registry

docs: PR-VID-130 acceptance record and canonical updates
  STATUS.md
  docs/ARCHITECTURE_v2.6.md
  docs/CODEX_MAP.md
  docs/StableNew Roadmap v2.6.md
  docs/Subsystems/Video/PR-VID-130_Wan22_Experimental_Vertical_Slice.md
Due: none

fix: acceptance harness always releases only the Comfy it launched
  docs/Subsystems/Video/PR-VID-130_Wan22_Experimental_Vertical_Slice.md
  tests/tools/test_vid130_acceptance_cleanup.py
  tools/acceptance/vid130_wan_acceptance.py
Due: no-daemon-threads

docs: close out PR-VID-130 as accepted and integrated
  STATUS.md
  docs/StableNew Roadmap v2.6.md
  docs/Subsystems/Video/PR-VID-130_Wan22_Experimental_Vertical_Slice.md
Due: none

feat: coordinate owned GPU runtime transitions
  STATUS.md
  docs/ARCHITECTURE_v2.6.md
  docs/CODEX_MAP.md
  docs/StableNew Roadmap v2.6.md
  docs/StableNew_Coding_and_Testing_v2.6.md
  docs/Subsystems/Runtime/PR-RUNTIME-100_Owned_Runtime_Transition_Policy.md
  src/image_backends/a1111_webui_backend.py
  src/services/runtime_transition_service.py
  src/video/comfy_workflow_backend.py
  src/video/svd_native_backend.py
  tests/image_backends/test_image_backend_contract.py
  tests/integration/test_pr_runtime_100_transition_queue.py
  tests/services/test_runtime_transition_service.py
  tests/video/test_comfy_workflow_backend.py
  tests/video/test_video_backend_registry.py
Due: no-daemon-threads, require-thread-registry

docs: close out runtime transition policy
  STATUS.md
  docs/StableNew Roadmap v2.6.md
  docs/Subsystems/Runtime/PR-RUNTIME-100_Owned_Runtime_Transition_Policy.md
Due: none

fix: block external runtime endpoint conflicts
  STATUS.md
  docs/ARCHITECTURE_v2.6.md
  docs/CODEX_MAP.md
  docs/StableNew Roadmap v2.6.md
  docs/StableNew_Coding_and_Testing_v2.6.md
  docs/Subsystems/Runtime/PR-RUNTIME-100_Owned_Runtime_Transition_Policy.md
  src/api/healthcheck.py
  src/services/runtime_transition_service.py
  tests/api/test_healthcheck_v2.py
  tests/image_backends/test_image_backend_contract.py
  tests/integration/test_pr_runtime_100_transition_queue.py
  tests/services/test_runtime_transition_service.py
Due: no-daemon-threads, require-thread-registry

docs: record runtime endpoint repair CI
  docs/Subsystems/Runtime/PR-RUNTIME-100_Owned_Runtime_Transition_Policy.md
Due: none

docs: close out integrated runtime policy
  STATUS.md
  docs/StableNew Roadmap v2.6.md
  docs/Subsystems/Runtime/PR-RUNTIME-100_Owned_Runtime_Transition_Policy.md
Due: none

diag: add GPU survivor telemetry
  STATUS.md
  docs/CODEX_MAP.md
  docs/Subsystems/Runtime/DIAG-GPU-100_Hard_Crash_Correlation_and_Survivor_Telemetry.md
  src/pipeline/pipeline_runner.py
  src/utils/gpu_survivor_telemetry.py
  src/utils/process_inspector_v2.py
  tests/pipeline/test_pipeline_runner_gpu_survivor_telemetry.py
  tests/tools/test_correlate_gpu_incidents.py
  tests/utils/test_gpu_survivor_telemetry.py
  tools/diagnostics/correlate_gpu_incidents.py
Due: no-daemon-threads, require-thread-registry

docs: record GPU diagnostic CI evidence
  STATUS.md
  docs/Subsystems/Runtime/DIAG-GPU-100_Hard_Crash_Correlation_and_Survivor_Telemetry.md
Due: none

diag: repair GPU survivor evidence correlation
  STATUS.md
  docs/Subsystems/Runtime/DIAG-GPU-100_Hard_Crash_Correlation_and_Survivor_Telemetry.md
  src/pipeline/pipeline_runner.py
  src/utils/gpu_survivor_telemetry.py
  tests/pipeline/test_pipeline_runner_gpu_survivor_telemetry.py
  tests/tools/test_correlate_gpu_incidents.py
  tests/utils/test_gpu_survivor_telemetry.py
  tools/diagnostics/correlate_gpu_incidents.py
Due: no-daemon-threads, require-thread-registry

docs: close out DIAG-GPU-100 integration
  STATUS.md
  docs/Subsystems/Runtime/DIAG-GPU-100_Hard_Crash_Correlation_and_Survivor_Telemetry.md
Due: none

docs: record Windows dump attribution
  STATUS.md
  docs/Subsystems/Runtime/DIAG-GPU-110_Windows_Dump_Attribution.md
Due: none

docs: accept GPU dump attribution
  STATUS.md
  docs/Subsystems/Runtime/DIAG-GPU-110_Windows_Dump_Attribution.md
Due: none

docs: record DDR5-5600 XMP baseline
  STATUS.md
  docs/Subsystems/Runtime/DIAG-GPU-120_DDR5_5600_XMP_Isolation.md
Due: none

Some settings
  presets/global_negative.txt
  presets/global_positive.txt
  presets/settings.json
Due: none

feat: complete Wan operator readiness
  src/controller/video_workflow_controller.py
  src/gui/help_text/stage_setting_help_v2.py
  src/gui/help_text/workflow_guidance_v2.py
  src/gui/views/video_workflow_tab_frame_v2.py
  src/pipeline/pipeline_runner.py
  src/video/comfy_process_manager.py
  src/video/comfy_workflow_backend.py
  src/video/video_workflow_intent.py
  src/video/workflow_catalog.py
  src/video/workflow_source_preparation.py
  tests/controller/test_video_workflow_controller.py
  tests/integration/test_pr_vid_130_wan_experimental_queue.py
  tests/tools/test_vid130_acceptance_cleanup.py
  tests/video/test_comfy_process_manager.py
  tests/video/test_comfy_workflow_backend.py
  tests/video/test_video_backend_registry.py
  tests/video/test_wan22_experimental_workflow.py
  tests/video/test_workflow_registry.py
  tools/acceptance/vid130_wan_acceptance.py
Due: no-daemon-threads, require-thread-registry

docs: record Wan operator readiness
  STATUS.md
  docs/CODEX_MAP.md
  docs/Subsystems/Video/PR-VID-140_Wan22_Operator_Readiness.md
Due: none

docs: mark PR-VID-140 integrated
  STATUS.md
  docs/Subsystems/Video/PR-VID-140_Wan22_Operator_Readiness.md
Due: none

feat: PR-VID-150 Wan2.2 motion characterization (qualification only)
  STATUS.md
  docs/CODEX_MAP.md
  docs/Subsystems/Video/PR-VID-140_Wan22_Operator_Readiness.md
  docs/Subsystems/Video/PR-VID-150_Wan22_Motion_Characterization.md
  tests/tools/test_vid150_qualification.py
  tools/qualification/vid150/__init__.py
  tools/qualification/vid150/run.py
Due: no-daemon-threads
