Repository destroyer42/StableNew2: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-daemon-threads, require-thread-registry

.pre-commit-config.yaml:

# Pre-commit hooks for code quality and consistency
# Install with: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Custom StableNew architectural guardrails (PR-THREAD-001)
  - repo: local
    hooks:
      # Prevent daemon=True threads
      - id: no-daemon-threads
        name: Check for daemon=True thread usage
        entry: python scripts/check_daemon_threads.py
        language: python
        types: [python]
        pass_filenames: false
        stages: [commit]
        description: "Ensures no new daemon threads are introduced (use ThreadRegistry instead)"
      
      # Ensure ThreadRegistry is used for new threads
      - id: require-thread-registry
        name: Verify threading.Thread() uses ThreadRegistry
        entry: python scripts/check_thread_registry_usage.py
        language: python
        types: [python]
        files: ^src/
        pass_filenames: true
        stages: [commit]
        description: "Validates all new threading.Thread() calls use ThreadRegistry.spawn()"
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(archive|ARCHIVE)/
      - id: end-of-file-fixer
        exclude: ^(archive|ARCHIVE)/
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
        exclude: ^(archive|ARCHIVE)/

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.15
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        exclude: ^(archive|ARCHIVE)/
      - id: ruff-format
        exclude: ^(archive|ARCHIVE)/

  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        language_version: python3.11
        exclude: ^(archive|ARCHIVE)/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [types-requests]
        exclude: ^(tests|archive|ARCHIVE)/
        args: [--ignore-missing-imports, --show-error-codes]

PR-MVP-000: close repository completeness recovery
  docs/ARCHITECTURE_v2.6.md
  docs/CompletedPR/PR-MVP-000-Recovery-Baseline-and-Repository-Completeness.md
  docs/DOCS_INDEX_v2.6.md
  docs/PR_Backlog/PR-MVP-000-Recovery-Baseline-and-Repository-Completeness.md
  docs/StableNew Roadmap v2.6.md
Due: none

PR-MVP-005: classify post-baseline deltas
  docs/CompletedPR/PR-MVP-005-Post-Baseline-Delta-Disposition.md
  docs/DOCS_INDEX_v2.6.md
  docs/StableNew Roadmap v2.6.md
Due: none

PR-MVP-010: approve test harness recovery
  docs/DOCS_INDEX_v2.6.md
  docs/PR_Backlog/PR-MVP-010-Test-Harness-Recovery.md
  docs/StableNew Roadmap v2.6.md
Due: none

PR-MVP-020: approve immutable NJR core
  docs/DOCS_INDEX_v2.6.md
  docs/PR_Backlog/PR-MVP-020-NJR-Core.md
  docs/StableNew Roadmap v2.6.md
Due: none

PR-MVP-030: approve compiler and submission cutover
  docs/DOCS_INDEX_v2.6.md
  docs/PR_Backlog/PR-MVP-030-Compilers-and-Submission.md
  docs/StableNew Roadmap v2.6.md
Due: none

Local work, to include prompt and settings config changes for the image generation pipeline
  data/webui_cache.json
  docs/PR_Backlog/PR-REPO-HYGIENE-001 — StableNew Repository Simplification and AI Operating Model Reset.md
  packs/A Testing Prompt.json
  packs/A Testing Prompt.txt
  packs/BATTLE_scene_single_hero_vs_enemy_JuggernautXL_v26.json
  packs/BATTLE_scene_single_hero_vs_enemy_JuggernautXL_v26.txt
  packs/test_matrix_pack.txt
  reports/diagnostics/.diag_cooldown_queue_runner_stall.json
Due: none

Adding the PR-REPO-Convergence-002 file before converging the branches to Main
  docs/PR_Backlog/PR-REPO-CONVERGENCE-002 — Establish Authoritative Main and Integrate Repository Simplification.md
Due: none

Local prompt pack setting/config - minor tweaks
  packs/test_matrix_pack.json
  reports/diagnostics/.diag_cooldown_queue_runner_stall.json
Due: none

checkpoint: preserve ignored QOL state modules before convergence
  src/state/__init__.py
  src/state/output_routing.py
  src/state/workspace_paths.py
Due: no-daemon-threads, require-thread-registry

PR-REPO-CONVERGENCE-002: establish authoritative integrated state
  STATUS.md
  packs/A Testing Prompt.json
  packs/A Testing Prompt.txt
  packs/BATTLE_scene_single_hero_vs_enemy_JuggernautXL_v26.json
  packs/BATTLE_scene_single_hero_vs_enemy_JuggernautXL_v26.txt
  packs/test_matrix_pack.txt
Due: none

PR-REPO-CONVERGENCE-002: finalize repository truth
  STATUS.md
Due: none

pack tweaks
  packs/A test_Dreamshaper_model.json
  packs/A_Single_Test_LoRA_matrix.json
Due: none

PR-MVP-040A: verify repository completeness
  STATUS.md
Due: none

PR-MVP-045: restore PromptPack draft preview queue
  STATUS.md
  docs/StableNew Roadmap v2.6.md
  src/controller/app_controller.py
  src/controller/pipeline_controller.py
  src/pipeline/prompt_pack_job_builder.py
  src/queue/job_queue.py
  tests/controller/test_prompt_pack_preview_v2.py
  tests/integration/test_pr_mvp_045_promptpack_queue.py
  tests/pipeline/test_prompt_pack_job_builder.py
Due: no-daemon-threads, require-thread-registry

PR-MVP-045A: remove obsolete JSONL codec test
  tests/utils/test_jsonl_codec.py
Due: no-daemon-threads

Preserve updated PromptPack content
  packs/A test_Dreamshaper_model.json
  packs/A_Single_Test_LoRA_matrix.json
  packs/test_matrix_pack.txt
  packs/test_matrix_pack_variants.json
Due: none

committing local pack changes
  packs/test_matrix_pack.json
  packs/test_matrix_pack.txt
Due: none

test packvariants
  packs/test_matrix_pack_variants.json
Due: none

PR-DEVEX-010: add efficient validation and controller ratchet
  .github/pull_request_template.md
  .github/workflows/ci.yml
  AGENTS.md
  STATUS.md
  docs/CODEX_MAP.md
  docs/StableNew_Coding_and_Testing_v2.6.md
  tests/system/test_ci_truth_sync_v2.py
  tests/system/test_controller_surface_ratchet.py
  tests/system/test_pr_gate.py
  tools/ci/check_controller_surface.py
  tools/ci/controller_surface_baseline.json
  tools/ci/run_pr_gate.py
  tools/ci/run_required_smoke.py
Due: no-daemon-threads

Add agent work-budget checkpoint guard
  AGENTS.md
  docs/StableNew_Coding_and_Testing_v2.6.md
  tests/system/test_pr_gate.py
  tools/ci/run_pr_gate.py
Due: no-daemon-threads

PR-MVP-060 Phase 1A: prove image success and replay path
  src/controller/job_history_service.py
  src/controller/pipeline_controller_services/history_handoff_service.py
  src/pipeline/artifact_contract.py
  src/pipeline/executor.py
  tests/integration/test_pr_mvp_060_image_vertical_slice.py
Due: no-daemon-threads, require-thread-registry

PR-MVP-060 Phase 1B: restore repeatable queue submission and manual dispatch
  src/controller/job_history_service.py
  src/controller/job_service.py
  src/controller/job_service_dispatch.py
  src/controller/pipeline_controller.py
  src/controller/pipeline_controller_services/history_handoff_service.py
  src/gui/app_state_v2.py
  src/gui/panels_v2/queue_panel_v2.py
  src/queue/single_node_runner.py
  tests/integration/test_pr_mvp_060_phase1b.py
  tools/ci/controller_surface_baseline.json
Due: no-daemon-threads, require-thread-registry

PR-MVP-060 Phase 1B1: restore canonical history replay boundary
  src/controller/job_history_service.py
  src/controller/pipeline_controller_services/history_handoff_service.py
  tests/controller/test_history_handoff_service.py
Due: no-daemon-threads, require-thread-registry

PR-MVP-060 Phase 1C: verify WebUI model before image execution
  src/controller/job_history_service.py
  src/pipeline/executor.py
  src/pipeline/model_synchronizer.py
  tests/integration/test_pr_mvp_060_image_vertical_slice.py
  tests/pipeline/test_efficiency_impact.py
  tests/pipeline/test_executor_model_switch_noop.py
Due: no-daemon-threads, require-thread-registry

PR-MVP-060 Phase 1D: consolidate baseline image acceptance
  src/gui/panels_v2/queue_panel_v2.py
  src/gui/preview_panel_v2.py
  tests/gui_v2/test_pr_mvp_060_phase1d_action_states.py
Due: no-daemon-threads, require-thread-registry

PR-MVP-060 Phase 2A: wire progress and cancellation end to end
  src/controller/job_execution_controller.py
  src/controller/pipeline_controller.py
  src/gui/panels_v2/running_job_panel_v2.py
  src/pipeline/executor.py
  src/pipeline/pipeline_runner.py
  src/queue/job_model.py
  src/queue/job_repository.py
  src/queue/single_node_runner.py
  tests/integration/test_pr_mvp_060_phase2a.py
Due: no-daemon-threads, require-thread-registry

PR-MVP-060 Phase 2B: durable failure retry and reopen proofs
  STATUS.md
  tests/integration/test_pr_mvp_060_phase2b.py
Due: no-daemon-threads

PR-MVP-060 Phase 2C: queue controls and deterministic thumbnails
  STATUS.md
  src/gui/panels_v2/queue_panel_v2.py
  src/gui/preview_panel_v2.py
  src/gui/widgets/thumbnail_widget_v2.py
  tests/gui_v2/test_preview_panel_thumbnail.py
  tests/integration/test_pr_mvp_060_phase2c_queue_thumbnail.py
Due: no-daemon-threads, require-thread-registry

PR-MVP-060 Phase 2C1: repair live pack preview and base layout
  STATUS.md
  src/controller/app_controller.py
  src/gui/base_generation_panel_v2.py
  src/gui/view_contracts/pipeline_layout_contract.py
  tests/controller/test_pack_draft_to_normalized_preview_v2.py
  tests/gui_v2/test_core_config_webui_resources_v2.py
  tests/gui_v2/test_pipeline_view_contracts.py
Due: no-daemon-threads, require-thread-registry

PR-MVP-060 Phase 2D: consolidate image lifecycle acceptance
  STATUS.md
  tests/integration/test_pr_mvp_060_image_vertical_slice.py
Due: no-daemon-threads

PR-MVP-060 Phase 3A-R1: repair queue readiness and external WebUI switching
  src/api/client.py
  src/controller/webui_connection_controller.py
  src/gui/views/pipeline_tab_frame_v2.py
  src/pipeline/model_synchronizer.py
  tests/api/test_client_options_throttling_v2.py
  tests/controller/test_webui_connection_controller_health_v2.py
  tests/gui_v2/test_pipeline_tab_callback_metrics_v2.py
  tests/gui_v2/test_pr_mvp_060_phase3a_r1_queue.py
Due: no-daemon-threads, require-thread-registry

PR-MVP-060 Phase 3A-R2: repair hosted projections
  src/gui/panels_v2/queue_panel_v2.py
  src/gui/preview_panel_v2.py
  src/gui/views/pipeline_tab_frame_v2.py
  tests/gui_v2/test_pipeline_tab_callback_metrics_v2.py
  tests/gui_v2/test_pr_mvp_060_phase3a_r1_queue.py
  tests/gui_v2/test_preview_panel_summary_v2.py
Due: no-daemon-threads, require-thread-registry

PR-MVP-060 Phase 3A-R3: reconcile queue lifecycle projections
  src/controller/app_controller.py
  src/gui/app_state_v2.py
  tests/controller/test_runtime_projection_coordinator_v2.py
  tests/controller/test_ui_dispatcher_contract.py
  tests/gui_v2/test_app_state_notification_batching.py
  tests/gui_v2/test_pr_mvp_060_phase3a_r1_queue.py
  tools/ci/controller_surface_baseline.json
Due: no-daemon-threads, require-thread-registry
