Repository destroyer42/StableNew2: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-daemon-threads, require-thread-registry

.pre-commit-config.yaml:

# Pre-commit hooks for code quality and consistency
# Install with: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Custom StableNew architectural guardrails (PR-THREAD-001)
  - repo: local
    hooks:
      # Prevent daemon=True threads
      - id: no-daemon-threads
        name: Check for daemon=True thread usage
        entry: python scripts/check_daemon_threads.py
        language: python
        types: [python]
        pass_filenames: false
        stages: [commit]
        description: "Ensures no new daemon threads are introduced (use ThreadRegistry instead)"
      
      # Ensure ThreadRegistry is used for new threads
      - id: require-thread-registry
        name: Verify threading.Thread() uses ThreadRegistry
        entry: python scripts/check_thread_registry_usage.py
        language: python
        types: [python]
        files: ^src/
        pass_filenames: true
        stages: [commit]
        description: "Validates all new threading.Thread() calls use ThreadRegistry.spawn()"
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(archive|ARCHIVE)/
      - id: end-of-file-fixer
        exclude: ^(archive|ARCHIVE)/
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
        exclude: ^(archive|ARCHIVE)/

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.15
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        exclude: ^(archive|ARCHIVE)/
      - id: ruff-format
        exclude: ^(archive|ARCHIVE)/

  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        language_version: python3.11
        exclude: ^(archive|ARCHIVE)/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [types-requests]
        exclude: ^(tests|archive|ARCHIVE)/
        args: [--ignore-missing-imports, --show-error-codes]

feat: add reproducible Windows native-SVD bootstrap
  README.md
  docs/CODEX_MAP.md
  docs/runbooks/windows_runtime_bootstrap.md
  scripts/bootstrap_windows.ps1
Due: none

docs: close MVP-090 phase 0 bootstrap prerequisite
  STATUS.md
  docs/StableNew Roadmap v2.6.md
Due: none

docs: reconcile MVP-080 architecture gap state
  docs/ARCHITECTURE_v2.6.md
  docs/StableNew Roadmap v2.6.md
Due: none

docs: update portable video provenance plan
  STATUS.md
  docs/ARCHITECTURE_v2.6.md
  docs/StableNew Roadmap v2.6.md
Due: none

docs: accept portrait SVD geometry runtime
  STATUS.md
  docs/ARCHITECTURE_v2.6.md
  docs/StableNew Roadmap v2.6.md
Due: none

test: align deferred autostart ownership
  tests/controller/test_application_runtime_coordinator_v2.py
  tests/gui_v2/test_main_window_persistence_regressions.py
Due: no-daemon-threads

fix: preserve duration across RIFE interpolation
  src/gui/help_text/stage_setting_help_v2.py
  src/gui/views/svd_tab_frame_v2.py
  src/video/svd_postprocess.py
  src/video/svd_runner.py
  tests/controller/test_svd_controller.py
  tests/gui_v2/test_svd_tab_frame_v2.py
  tests/video/test_svd_postprocess.py
  tests/video/test_svd_registry.py
  tests/video/test_svd_runner.py
Due: no-daemon-threads, require-thread-registry

docs: accept RIFE interpolation semantics
  STATUS.md
  docs/ARCHITECTURE_v2.6.md
  docs/StableNew Roadmap v2.6.md
Due: none

docs: define PR-IMG-100 backend-neutral image contract
  docs/Subsystems/Image/PR-IMG-100_Backend-Neutral_Image_Execution.md
Due: none

docs: adopt backend-neutral image direction
  STATUS.md
Due: none

docs: map approved image backend boundary
  docs/CODEX_MAP.md
Due: none

docs: adopt one-image-backend-per-NJR target
  docs/ARCHITECTURE_v2.6.md
Due: none

docs: schedule PR-IMG-100 after v2.6 release proof
  docs/StableNew Roadmap v2.6.md
Due: none

feat: embed portable SVD provenance
  src/pipeline/executor.py
  src/pipeline/pipeline_runner.py
  src/video/container_metadata.py
  src/video/svd_native_backend.py
  src/video/svd_portable_provenance.py
  src/video/svd_registry.py
  src/video/svd_runner.py
  tests/pipeline/test_pipeline_runner.py
  tests/pipeline/test_svd_runtime.py
  tests/video/test_container_metadata.py
  tests/video/test_svd_portable_provenance.py
  tests/video/test_svd_registry.py
  tests/video/test_svd_runner.py
  tests/video/test_video_backend_registry.py
Due: no-daemon-threads, require-thread-registry

docs: accept portable SVD provenance
  STATUS.md
  docs/ARCHITECTURE_v2.6.md
  docs/CODEX_MAP.md
  docs/StableNew Roadmap v2.6.md
Due: none

fix: prevent automatic replay after interrupted jobs
  src/controller/job_history_service.py
  src/gui/job_history_panel_v2.py
  src/queue/job_history_store.py
  src/queue/job_repository.py
  src/services/operator_readiness_service.py
  tests/controller/test_history_handoff_service.py
  tests/gui_v2/test_job_history_panel_v2.py
  tests/queue/test_job_repository_sqlite.py
  tests/services/test_operator_readiness_service.py
Due: no-daemon-threads, require-thread-registry

docs: accept conservative restart recovery
  STATUS.md
  docs/ARCHITECTURE_v2.6.md
  docs/CODEX_MAP.md
  docs/StableNew Roadmap v2.6.md
Due: none

fix: make queue and history actions truthful
  src/controller/app_controller.py
  src/gui/job_history_panel_v2.py
  src/gui/panels_v2/queue_panel_v2.py
  tests/gui/test_gui_controller_bindings.py
  tests/gui_v2/test_job_history_panel_v2.py
  tests/gui_v2/test_pr_mvp_060_phase1d_action_states.py
  tests/gui_v2/test_pr_mvp_080_action_state_truth.py
Due: no-daemon-threads, require-thread-registry

docs: accept truthful queue and history actions
  STATUS.md
  docs/StableNew Roadmap v2.6.md
Due: none

fix: prevent cancelled jobs from publishing final outputs
  src/queue/job_queue.py
  src/queue/single_node_runner.py
  tests/queue/test_jobrunner_integration.py
Due: no-daemon-threads, require-thread-registry

docs: record cancellation race repair
  STATUS.md
  docs/StableNew Roadmap v2.6.md
Due: none

fix: persist queue state before repository shutdown
  STATUS.md
  docs/StableNew Roadmap v2.6.md
  src/controller/app_controller.py
  tests/controller/test_app_controller_shutdown_v2.py
Due: no-daemon-threads, require-thread-registry

docs: close MVP-080 operator journey
  AGENTS.md
  STATUS.md
  docs/CODEX_WORK_PACKAGE_TEMPLATE.md
  docs/StableNew Roadmap v2.6.md
  docs/StableNew_Coding_and_Testing_v2.6.md
Due: none

docs: reprioritize post-v2.6 roadmap by useful-output value
  docs/StableNew Roadmap v2.6.md
Due: none

docs: align status with accepted post-v2.6 value roadmap
  STATUS.md
Due: none

docs: align architecture targets with value roadmap
  docs/ARCHITECTURE_v2.6.md
Due: none

docs: make PR-IMG-100 implementation guidance repo-revalidated
  docs/Subsystems/Image/PR-IMG-100_Backend-Neutral_Image_Execution.md
Due: none

docs: adopt post-v2.6 value roadmap
  STATUS.md
  docs/ARCHITECTURE_v2.6.md
  docs/StableNew Roadmap v2.6.md
  docs/Subsystems/Image/PR-IMG-100_Backend-Neutral_Image_Execution.md
Due: none

docs: preserve MVP-080 closeout while updating future direction
  STATUS.md
Due: none

docs: preserve MVP-080 closeout in value roadmap
  docs/StableNew Roadmap v2.6.md
Due: none

docs: close MVP-080 integration
  STATUS.md
  docs/StableNew Roadmap v2.6.md
Due: none

test: repair release harness integrity
  .github/workflows/journey-tests.yml
  .github/workflows/journeys_shutdown.yml
  STATUS.md
  docs/StableNew Roadmap v2.6.md
  scripts/bootstrap_windows.ps1
  scripts/run_journey_tests.ps1
  tests/helpers/job_helpers.py
  tests/integration/test_golden_path_suite_v2_6.py
  tests/journeys/journey_helpers_v2.py
  tests/journeys/test_njr_modern_pattern.py
  tests/journeys/test_shutdown_no_leaks.py
  tests/tools/test_process_inspection.py
  tools/test_helpers/journey_harness.py
  tools/test_helpers/process_inspection.py
Due: no-daemon-threads

test: align CI truth checks with raw Ruff gate
  tests/system/test_ci_truth_sync_v2.py
  tests/system/test_pr_gate.py
Due: no-daemon-threads

docs: accept runtime ownership and Ruff zero
  STATUS.md
  docs/StableNew Roadmap v2.6.md
Due: none

fix: prevent competing ComfyUI startup
  src/main.py
  src/video/comfy_healthcheck.py
  src/video/comfy_process_manager.py
  tests/app/test_bootstrap_comfy_autostart.py
  tests/video/test_comfy_process_manager.py
Due: no-daemon-threads, require-thread-registry

docs: record ComfyUI ownership parity
  STATUS.md
  docs/StableNew Roadmap v2.6.md
Due: none

docs: accept final v2.6 release proof
  STATUS.md
  docs/StableNew Roadmap v2.6.md
Due: none

docs: synchronize MVP-090 completion state
  STATUS.md
  docs/StableNew Roadmap v2.6.md
Due: none

docs: close MVP-090 integration
  STATUS.md
  docs/StableNew Roadmap v2.6.md
Due: none
