Repository destroyer42/StableNew2: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-daemon-threads, require-thread-registry

.pre-commit-config.yaml:

# Pre-commit hooks for code quality and consistency
# Install with: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Custom StableNew architectural guardrails (PR-THREAD-001)
  - repo: local
    hooks:
      # Prevent daemon=True threads
      - id: no-daemon-threads
        name: Check for daemon=True thread usage
        entry: python scripts/check_daemon_threads.py
        language: python
        types: [python]
        pass_filenames: false
        stages: [commit]
        description: "Ensures no new daemon threads are introduced (use ThreadRegistry instead)"
      
      # Ensure ThreadRegistry is used for new threads
      - id: require-thread-registry
        name: Verify threading.Thread() uses ThreadRegistry
        entry: python scripts/check_thread_registry_usage.py
        language: python
        types: [python]
        files: ^src/
        pass_filenames: true
        stages: [commit]
        description: "Validates all new threading.Thread() calls use ThreadRegistry.spawn()"
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(archive|ARCHIVE)/
      - id: end-of-file-fixer
        exclude: ^(archive|ARCHIVE)/
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
        exclude: ^(archive|ARCHIVE)/

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.15
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        exclude: ^(archive|ARCHIVE)/
      - id: ruff-format
        exclude: ^(archive|ARCHIVE)/

  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        language_version: python3.11
        exclude: ^(archive|ARCHIVE)/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [types-requests]
        exclude: ^(tests|archive|ARCHIVE)/
        args: [--ignore-missing-imports, --show-error-codes]

test(PR-DEVEX-PROMPTS-170): isolate GlobalPrompts per test from the root conftest
  docs/Subsystems/Prompting/PR-DEVEX-PROMPTS-170_Global_Prompt_User_State.md
  tests/conftest.py
  tests/helpers/global_prompt_isolation.py
  tests/pipeline/test_global_prompt_policy.py
  tests/tools/test_img_forge_100_acceptance_driver.py
  tests/tools/test_img_forge_100_prompt_intent.py
  tests/tools/test_operator_journey_harness.py
  tests/utils/test_config_manager_global_prompts.py
Due: no-daemon-threads

feat(PR-RUNTIME-WEBUI-LIFECYCLE-130): one managed WebUI lifecycle, recovery truth, runtime selector
  src/api/webui_process_manager.py
  src/controller/app_controller.py
  src/controller/webui_connection_controller.py
  src/gui/engine_settings_dialog.py
  src/gui/main_window_v2.py
  src/main.py
  tests/api/test_webui_process_cleanup.py
  tests/api/test_webui_process_manager.py
  tests/api/test_webui_process_manager_lifecycle_130.py
  tests/controller/test_webui_lifecycle_convergence_130.py
  tests/gui_v2/test_engine_settings_runtime_selector_130.py
  tests/integration/test_webui_lifecycle_non_webui_admission_130.py
Due: no-daemon-threads, require-thread-registry

docs(PR-RUNTIME-WEBUI-LIFECYCLE-130): WebUI lifecycle convergence and runtime selector
  STATUS.md
  docs/CODEX_MAP.md
  docs/Subsystems/Image/PR-IMG-FORGE-120_Forge_Default_Production_Promotion.md
  docs/Subsystems/Runtime/PR-RUNTIME-WEBUI-LIFECYCLE-130_WebUI_Lifecycle_Convergence.md
  docs/runbooks/managed_forge_runtime.md
Due: none

feat(PR-DEVEX-LAUNCH-180): one-command supported Windows launch
  README.md
  STATUS.md
  docs/CODEX_MAP.md
  docs/runbooks/windows_runtime_bootstrap.md
  scripts/bootstrap_windows.ps1
  scripts/create_desktop_shortcut.ps1
  scripts/create_shortcuts.ps1
  scripts/launch_stablenew.bat
  scripts/launch_stablenew.ps1
  scripts/launch_stablenew_advanced.bat
  tests/system/test_launch_stablenew_180.py
  tools/runtime/check_launch_environment.py
Due: no-daemon-threads

feat(PR-IMG-117): FLUX.2 Klein 4B profile v2 admits one qualified LoRA
  STATUS.md
  docs/CODEX_MAP.md
  docs/Subsystems/Image/PR-IMG-116_FLUX2_Klein_Forge_Production_Slice.md
  docs/Subsystems/Image/PR-IMG-117_FLUX2_Klein_LoRA_Qualification_and_Profile_v2.md
  src/api/forge_client.py
  src/assets/registry.py
  src/gui/klein_panel_projection.py
  src/gui/main_window_v2.py
  src/gui/widgets/lora_picker_panel.py
  src/gui_v2/klein_projection.py
  src/image_backends/forge_klein_lora.py
  src/image_backends/forge_klein_profile.py
  src/image_backends/forge_webui_backend.py
  tests/api/test_forge_client.py
  tests/assets/test_asset_registry.py
  tests/gui_v2/test_klein_lora_gui_117.py
  tests/helpers/fake_webui_transport.py
  tests/image_backends/test_forge_klein_lora.py
  tests/image_backends/test_forge_klein_profile.py
  tests/integration/test_pr_img_116_klein_canonical_path.py
  tests/integration/test_pr_img_117_klein_lora_canonical_path.py
  tests/pipeline/test_klein_compile_policy.py
  tests/tools/test_img_116_klein_acceptance_driver.py
  tests/tools/test_img_117_klein_lora_acceptance_driver.py
  tools/acceptance/img_117_klein_lora_acceptance.py
Due: no-daemon-threads, require-thread-registry

fix(PR-RUNTIME-SHUTDOWN-140): shutdown admission fence and repository quiescence
  STATUS.md
  docs/ARCHITECTURE_v2.6.md
  docs/CODEX_MAP.md
  docs/Subsystems/Runtime/PR-RUNTIME-SHUTDOWN-140_Shutdown_Admission_and_Repository_Quiescence.md
  src/controller/app_controller.py
  src/controller/app_controller_services/shutdown_coordinator.py
  src/controller/job_service.py
  src/controller/job_service_dispatch.py
  src/controller/job_service_shutdown.py
  src/queue/job_queue.py
  src/queue/single_node_runner.py
  tests/controller/test_shutdown_coordinator_140.py
  tests/controller/test_shutdown_quiescence_140.py
  tests/queue/test_dispatch_fence_unit_140.py
  tests/queue/test_shutdown_admission_fence_140.py
  tools/ci/controller_surface_baseline.json
Due: no-daemon-threads, require-thread-registry

fix(PR-RUNTIME-FORGE-IDENTITY-150): same-session attestation for a positively identified managed Forge
  STATUS.md
  docs/CODEX_MAP.md
  docs/Subsystems/Runtime/PR-RUNTIME-FORGE-IDENTITY-150_Managed_Forge_Identity_Attestation.md
  src/api/webui_identity_attestation.py
  src/api/webui_runtime_identity.py
  src/image_backends/forge_webui_backend.py
  src/image_backends/webui_family_backend.py
  tests/api/test_managed_forge_identity_attestation.py
Due: no-daemon-threads, require-thread-registry

fix(PR-RUNTIME-FORGE-IDENTITY-150): bounded initial identity settle for an owned managed Forge
  STATUS.md
  docs/Subsystems/Runtime/PR-RUNTIME-FORGE-IDENTITY-150_Managed_Forge_Identity_Attestation.md
  src/api/webui_identity_attestation.py
  tests/api/test_managed_forge_identity_attestation.py
  tests/api/test_managed_forge_initial_identity_settle.py
Due: no-daemon-threads, require-thread-registry

feat(PR-IMG-130A): model-family capability registry and policy-driven Base Generation controls
  STATUS.md
  docs/CODEX_MAP.md
  docs/Subsystems/Image/PR-IMG-130A_Model_Family_Capability_Registry.md
  src/gui/base_generation_panel_v2.py
  src/gui/klein_panel_projection.py
  src/gui/main_window_v2.py
  src/gui/model_policy_panel_projection.py
  src/gui_v2/klein_projection.py
  src/gui_v2/model_policy_projection.py
  src/image_backends/model_policy.py
  src/learning/model_profiles.py
  src/pipeline/cli_njr_builder.py
  src/pipeline/job_builder_v2.py
  src/pipeline/prompt_pack_job_builder.py
  tests/gui_v2/test_klein_lora_gui_117.py
  tests/gui_v2/test_klein_profile_gui.py
  tests/gui_v2/test_model_policy_panel_130a.py
  tests/image_backends/test_model_policy_130a.py
Due: no-daemon-threads, require-thread-registry

feat(PR-IMG-130B): model-aware Prompt compatibility UX
  STATUS.md
  docs/CODEX_MAP.md
  docs/Subsystems/Image/PR-IMG-130B_Model_Aware_Prompt_Compatibility_UX.md
  src/gui/main_window_v2.py
  src/gui/model_policy_panel_projection.py
  src/gui/prompt_target_presenter.py
  src/gui/views/prompt_tab_frame_v2.py
  src/gui/widgets/embedding_picker_panel.py
  src/gui_v2/model_policy_projection.py
  src/image_backends/model_policy_lora.py
  src/prompting/prompt_compatibility.py
  tests/gui_v2/test_prompt_target_130b.py
  tests/image_backends/test_prompt_compatibility_130b.py
Due: no-daemon-threads, require-thread-registry

fix(PR-IMG-130B): global-negative presentation and no-scan model-target refresh
  docs/Subsystems/Image/PR-IMG-130B_Model_Aware_Prompt_Compatibility_UX.md
  src/gui/views/prompt_tab_frame_v2.py
  src/prompting/prompt_compatibility.py
  tests/gui_v2/test_prompt_target_130b.py
  tests/image_backends/test_prompt_compatibility_130b.py
Due: no-daemon-threads, require-thread-registry

wip(PR-LEARN-130D): checkpoint model-scoped learning with validation hold
  STATUS.md
  docs/CODEX_MAP.md
  docs/Subsystems/Learning/Learning_System_Spec_v2.6.md
  docs/Subsystems/Learning/PR-LEARN-130D_Model_Scoped_Learning_Capability_Correctness.md
  src/gui/controllers/learning_controller.py
  src/gui/main_window_v2.py
  src/gui/views/experiment_design_panel.py
  src/image_backends/model_policy.py
  src/learning/model_capabilities.py
  src/learning/model_policy_service.py
  src/learning/recommendation_engine.py
  tests/gui_v2/test_learning_model_policy_130d.py
  tests/learning/test_recommendation_engine_v2.py
  tests/learning_v2/test_model_capabilities_130d.py
  tests/learning_v2/test_pr_learn_300_lora_strength.py
  tests/learning_v2/test_recommendation_structured_values.py
Due: no-daemon-threads, require-thread-registry

fix(PR-LEARN-130D): defer recommendation policy imports until execution
  STATUS.md
  docs/Subsystems/Learning/PR-LEARN-130D_Model_Scoped_Learning_Capability_Correctness.md
  src/learning/recommendation_engine.py
  tests/learning_v2/test_model_capabilities_130d.py
Due: no-daemon-threads, require-thread-registry

fix(PR-LEARN-130D): evidence journey models and preflight stage targets
  STATUS.md
  docs/CODEX_MAP.md
  docs/Subsystems/Learning/Learning_System_Spec_v2.6.md
  docs/Subsystems/Learning/PR-LEARN-130D_Model_Scoped_Learning_Capability_Correctness.md
  src/gui/controllers/learning_controller.py
  src/gui_v2/recommendation_targets.py
  src/learning/model_policy_service.py
  tests/gui_v2/test_recommendation_targets_130d.py
  tests/integration/test_golden_path_suite_v2_6.py
  tests/integration/test_learning_review_recommendation_e2e.py
  tests/tools/test_operator_journey_gui.py
  tests/tools/test_operator_journey_model_evidence.py
  tools/operator_journey/cli.py
  tools/operator_journey/fixtures.py
  tools/operator_journey/journeys/learning_lora_strength.py
  tools/operator_journey/workspace.py
Due: no-daemon-threads, require-thread-registry

docs(PR-LEARN-130D): align hosted validation wording
  docs/Subsystems/Learning/PR-LEARN-130D_Model_Scoped_Learning_Capability_Correctness.md
Due: none

fix(runtime): count readiness recovery without job hydration
  STATUS.md
  docs/CODEX_MAP.md
  docs/Subsystems/Runtime/PR-RUNTIME-READINESS-140_Operator_Readiness_Recovery_Projection.md
  src/queue/job_repository.py
  src/services/operator_readiness_service.py
  tests/queue/test_job_repository_sqlite.py
  tests/services/test_operator_readiness_service.py
Due: no-daemon-threads, require-thread-registry

docs(runtime): record readiness publication and hosted CI
  STATUS.md
  docs/Subsystems/Runtime/PR-RUNTIME-READINESS-140_Operator_Readiness_Recovery_Projection.md
Due: none

fix(PR-RUNTIME-QUEUE-150): restore Queue pause/resume/send control truth
  docs/CODEX_MAP.md
  src/controller/app_controller.py
  src/gui/views/pipeline_tab_frame_v2.py
  tests/controller/test_app_controller_queue_control_150.py
  tests/gui_v2/test_pipeline_tab_callback_metrics_v2.py
  tests/gui_v2/test_queue_pause_resume_journey_150.py
  tools/ci/controller_surface_baseline.json
Due: no-daemon-threads, require-thread-registry

fix(PR-RUNTIME-QUEUE-150): Pause never joins an active job
  src/controller/job_service.py
  src/controller/job_service_auto_run.py
  tests/controller/test_job_service_pause_active_job_150.py
Due: no-daemon-threads, require-thread-registry

feat(PR-IMG-130C): explicit model-aware Prompt adaptation foundation
  STATUS.md
  docs/CODEX_MAP.md
  docs/Subsystems/Image/PR-IMG-130B_Model_Aware_Prompt_Compatibility_UX.md
  docs/Subsystems/Image/PR-IMG-130C_Explicit_Model_Aware_Prompt_Adaptation.md
  src/gui/prompt_adaptation_dialog.py
  src/gui/prompt_target_presenter.py
  src/gui/views/prompt_tab_frame_v2.py
  src/gui_v2/prompt_adaptation_preview.py
  src/prompting/prompt_adaptation.py
  src/prompting/prompt_compatibility.py
  tests/gui_v2/test_prompt_adaptation_130c.py
  tests/image_backends/test_prompt_adaptation_130c.py
Due: no-daemon-threads, require-thread-registry

style(PR-IMG-130C): satisfy ruff (bind loop variable, import order, literal)
  src/gui/views/prompt_tab_frame_v2.py
  src/prompting/prompt_adaptation.py
  tests/image_backends/test_prompt_adaptation_130c.py
Due: no-daemon-threads, require-thread-registry

ci(PR-DEVEX-CI-150): stop ratchet baseline changes from triggering the full census
  docs/StableNew_Coding_and_Testing_v2.6.md
  tests/tools/test_ci_validation_plan.py
  tools/ci/validation_plan.py
Due: no-daemon-threads

feat(PR-PROMPT-140): model-adaptive PromptPack compilation
  STATUS.md
  docs/CODEX_MAP.md
  docs/Subsystems/Image/PR-IMG-130B_Model_Aware_Prompt_Compatibility_UX.md
  docs/Subsystems/Image/PR-IMG-130C_Explicit_Model_Aware_Prompt_Adaptation.md
  docs/Subsystems/PromptPacks/PR-PROMPT-140_Model_Adaptive_PromptPack_Compilation.md
  src/image_backends/model_policy_lora.py
  src/pipeline/compile_evidence.py
  src/pipeline/prompt_pack_job_builder.py
  src/pipeline/resolution_layer.py
  src/prompting/prompt_adaptation.py
  src/prompting/prompt_compatibility.py
  tests/image_backends/test_prompt_adaptation_140.py
  tests/pipeline/test_pack_prompt_intent_140.py
  tests/pipeline/test_prompt_pack_adaptation_140.py
Due: no-daemon-threads, require-thread-registry

feat(learning): freeze explicit model comparison studies
  STATUS.md
  docs/CODEX_MAP.md
  docs/Subsystems/Learning/Learning_System_Spec_v2.6.md
  docs/Subsystems/Learning/PR-LEARN-140_Model_Comparison_Study.md
  src/gui/controllers/learning_controller.py
  src/gui/views/experiment_design_panel.py
  src/learning/experiment_conclusion.py
  src/learning/experiment_freeze.py
  src/learning/model_comparison.py
  src/learning/recommendation_engine.py
  src/pipeline/resolution_layer.py
  tests/gui_v2/test_model_comparison_design_140.py
  tests/learning_v2/test_model_comparison_140.py
Due: no-daemon-threads, require-thread-registry

fix(learning): preserve executor ownership of comparison global prompts
  STATUS.md
  docs/Subsystems/Learning/Learning_System_Spec_v2.6.md
  docs/Subsystems/Learning/PR-LEARN-140_Model_Comparison_Study.md
  src/gui/controllers/learning_controller.py
  src/learning/model_comparison.py
  tests/learning_v2/test_model_comparison_140.py
  tests/learning_v2/test_model_comparison_global_prompts_140.py
Due: no-daemon-threads, require-thread-registry

Fix ordinary Learning frozen global prompt ownership
  STATUS.md
  docs/CODEX_MAP.md
  docs/Subsystems/Learning/Learning_System_Spec_v2.6.md
  docs/Subsystems/Learning/PR-LEARN-141_Ordinary_Global_Prompt_Correctness.md
  src/gui/controllers/learning_controller.py
  src/learning/ordinary_prompt_freeze.py
  tests/learning_v2/test_ordinary_global_prompts_141.py
Due: no-daemon-threads, require-thread-registry

Fix ordinary Learning canonical row-negative ownership
  STATUS.md
  docs/CODEX_MAP.md
  docs/Subsystems/Learning/Learning_System_Spec_v2.6.md
  docs/Subsystems/Learning/PR-LEARN-141_Ordinary_Global_Prompt_Correctness.md
  src/learning/experiment_freeze.py
  src/learning/ordinary_prompt_freeze.py
  tests/learning_v2/test_ordinary_global_prompts_141.py
Due: no-daemon-threads, require-thread-registry

Mark PR-LEARN-141 accepted and integrated
  STATUS.md
Due: none

PR-LEARN-142: prepare exact checkpoint evidence for model comparison
  STATUS.md
  docs/CODEX_MAP.md
  docs/Subsystems/Learning/Learning_System_Spec_v2.6.md
  docs/Subsystems/Learning/PR-LEARN-140_Model_Comparison_Study.md
  docs/Subsystems/Learning/PR-LEARN-142_Model_Comparison_Evidence_Readiness.md
  src/assets/cache_lock.py
  src/assets/registry.py
  src/gui/controllers/learning_controller.py
  src/gui/model_comparison_readiness.py
  src/gui/views/experiment_design_panel.py
  src/image_backends/model_policy.py
  src/learning/model_comparison.py
  src/learning/model_evidence_readiness.py
  src/pipeline/compile_evidence.py
  tests/assets/checkpoint_fixtures.py
  tests/assets/test_checkpoint_readiness_142.py
  tests/gui_v2/test_model_comparison_readiness_142.py
  tests/learning_v2/test_ordinary_global_prompts_141.py
Due: no-daemon-threads, require-thread-registry

Complete installed SDXL structural evidence for Model Comparison
  STATUS.md
  docs/CODEX_MAP.md
  docs/Subsystems/Learning/Learning_System_Spec_v2.6.md
  docs/Subsystems/Learning/PR-LEARN-142_Model_Comparison_Evidence_Readiness.md
  src/assets/checkpoint_structure.py
  src/assets/compatibility.py
  src/assets/registry.py
  src/gui/views/experiment_design_panel.py
  src/image_backends/model_policy.py
  src/learning/model_comparison.py
  src/learning/model_evidence_readiness.py
  tests/assets/checkpoint_fixtures.py
  tests/assets/test_checkpoint_structure_142.py
  tests/gui_v2/test_installed_sdxl_evidence_142.py
  tests/gui_v2/test_model_comparison_design_140.py
Due: no-daemon-threads, require-thread-registry

fix(assets): bound untrusted checkpoint tensor shape arithmetic
  docs/Subsystems/Learning/PR-LEARN-142_Model_Comparison_Evidence_Readiness.md
  src/assets/checkpoint_structure.py
  tests/assets/test_checkpoint_structure_142.py
Due: no-daemon-threads, require-thread-registry

PR-PROMPT-143: preflight qualified Klein PromptPack LoRA selection
  STATUS.md
  docs/CODEX_MAP.md
  docs/Subsystems/PromptPacks/PR-PROMPT-140_Model_Adaptive_PromptPack_Compilation.md
  docs/Subsystems/PromptPacks/PR-PROMPT-143_Klein_Compatible_LoRA_Selection.md
  src/controller/pipeline_controller.py
  src/controller/prompt_pack_preflight.py
  src/gui/klein_lora_selection_dialog.py
  src/gui/preview_panel_v2.py
  src/gui_v2/pack_lora_selection_projection.py
  src/image_backends/forge_klein_lora.py
  src/image_backends/forge_webui_backend.py
  src/pipeline/compile_evidence.py
  src/pipeline/prompt_pack_job_builder.py
  src/pipeline/resolution_layer.py
  src/prompting/pack_lora_evidence.py
  src/prompting/pack_lora_selection.py
  src/prompting/prompt_adaptation.py
  tests/controller/test_pack_selection_preflight_143.py
  tests/gui_v2/test_pack_lora_dialog_143.py
  tests/pipeline/test_klein_pack_selection_143.py
  tools/ci/controller_surface_baseline.json
Due: no-daemon-threads, require-thread-registry

PR-PROMPT-143: isolate modal tests and bound affected CI
  .github/workflows/ci.yml
  STATUS.md
  docs/StableNew_Coding_and_Testing_v2.6.md
  docs/Subsystems/PromptPacks/PR-PROMPT-143_Klein_Compatible_LoRA_Selection.md
  tests/app/test_webui_connection_off_tk_120.py
  tests/gui_v2/test_pack_lora_dialog_143.py
  tests/system/test_ci_truth_sync_v2.py
Due: no-daemon-threads

test: make completion and Forge refusal assertions deterministic
  STATUS.md
  docs/Subsystems/PromptPacks/PR-PROMPT-143_Klein_Compatible_LoRA_Selection.md
  tests/pipeline/test_pr_harden_009_r1a_txt2img_cancellation.py
  tests/system/test_managed_forge_runtime.py
Due: no-daemon-threads

test: isolate optional video and PowerShell fixtures
  STATUS.md
  docs/StableNew_Coding_and_Testing_v2.6.md
  docs/Subsystems/Testing/Optional_Capability_Contract_v2.6.md
  tests/tools/test_install_forge_klein_assets.py
  tests/tools/test_vid175_interpretability.py
Due: no-daemon-threads

test: keep subprocess environment out of failure diagnostics
  tests/tools/test_install_forge_klein_assets.py
Due: no-daemon-threads

Replace refinement Haar detector with verified offline CPU YuNet
  STATUS.md
  docs/CODEX_MAP.md
  docs/StableNew_Coding_and_Testing_v2.6.md
  docs/Subsystems/Image/PR-REFINE-150_YuNet_Face_Detection.md
  src/learning/recommendation_engine.py
  src/pipeline/pipeline_runner.py
  src/refinement/assets/LICENSE.YuNet
  src/refinement/assets/README.md
  src/refinement/assets/face_detection_yunet_2026may.onnx
  src/refinement/detectors/opencv_face_detector.py
  src/refinement/quality_metrics.py
  src/refinement/subject_scale_policy_service.py
  tests/learning_v2/test_recommendation_engine_refinement_context.py
  tests/pipeline/test_pipeline_runner.py
  tests/refinement/test_opencv_face_detector.py
  tests/refinement/test_quality_metrics.py
  tests/refinement/test_subject_scale_policy_service.py
  tools/qualification/refine150/qualify_cpu.py
Due: no-daemon-threads, require-thread-registry

Preserve tri-state qualified face observations in Learning
  STATUS.md
  docs/Subsystems/Image/PR-REFINE-150_YuNet_Face_Detection.md
  docs/Subsystems/Learning/Learning_System_Spec_v2.6.md
  src/refinement/quality_metrics.py
  tests/learning/test_learning_hooks_pipeline_runner.py
  tests/learning/test_learning_record_builder.py
  tests/pipeline/test_pipeline_runner.py
  tests/refinement/test_opencv_face_detector.py
  tests/refinement/test_quality_metrics.py
  tests/refinement/test_subject_scale_policy_service.py
Due: no-daemon-threads, require-thread-registry

Fail closed on malformed YuNet detection rows instead of reporting no face
  docs/Subsystems/Image/PR-REFINE-150_YuNet_Face_Detection.md
  src/refinement/detectors/opencv_face_detector.py
  tests/refinement/test_opencv_face_detector.py
Due: no-daemon-threads, require-thread-registry

PR-DEVEX-CI-152: pass the executable, not a comment, to xvfb-action in the affected lane
  .github/workflows/ci.yml
  tests/system/test_ci_truth_sync_v2.py
Due: no-daemon-threads
