Repository destroyer42/StableNew2: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-daemon-threads, require-thread-registry

no-daemon-threads:
  name: Check for daemon=True thread usage
  entry: python scripts/check_daemon_threads.py
  language: python
  pass_filenames: false
  stages:
  - commit
  description: Ensures no new daemon threads are introduced (use ThreadRegistry instead)

require-thread-registry:
  name: Verify threading.Thread() uses ThreadRegistry
  entry: python scripts/check_thread_registry_usage.py
  language: python
  pass_filenames: true
  stages:
  - commit
  description: Validates all new threading.Thread() calls use ThreadRegistry.spawn()

Remove redundant function-local subprocess import in WebUIProcessManager.start()
  src/api/webui_process_manager.py
Due: no-daemon-threads, require-thread-registry

Resolve stale current-state wording and workload-identity overclaim in DIAG-GPU-130 report
  docs/Subsystems/Runtime/DIAG-GPU-130_Post_5600_Black_Screen_Recurrence.md
Due: none

PR-TEST-TRUTH-121: isolate runtime-transition endpoint probes in tests
  tests/integration/test_pr_runtime_100_transition_queue.py
  tests/services/test_runtime_transition_service.py
Due: no-daemon-threads

PR-ASSET-120: add provenance-rich asset compatibility profiles
  docs/ARCHITECTURE_v2.6.md
  docs/CODEX_MAP.md
  docs/Subsystems/Image/PR-ASSET-120_Provenance_Rich_Asset_Metadata_and_Compatibility_Profiles.md
  src/assets/__init__.py
  src/assets/compatibility.py
  src/assets/registry.py
  tests/assets/test_asset_compatibility_profiles.py
Due: no-daemon-threads, require-thread-registry

Review repair: recognize ModelSpec architecture forms; preserve all metadata-field evidence
  docs/Subsystems/Image/PR-ASSET-120_Provenance_Rich_Asset_Metadata_and_Compatibility_Profiles.md
  src/assets/compatibility.py
  src/assets/registry.py
  tests/assets/test_asset_compatibility_profiles.py
Due: no-daemon-threads, require-thread-registry

Final surgical closeout: unrecognized metadata blocks fallback; require token boundaries
  docs/Subsystems/Image/PR-ASSET-120_Provenance_Rich_Asset_Metadata_and_Compatibility_Profiles.md
  src/assets/compatibility.py
  src/assets/registry.py
  tests/assets/test_asset_compatibility_profiles.py
Due: no-daemon-threads, require-thread-registry

WP-PACK-AUDIT-100: add PromptPack and saved-settings quality census
  .gitignore
  STATUS.md
  docs/CODEX_MAP.md
  docs/StableNew Roadmap v2.6.md
  docs/Subsystems/PromptPacks/WP-PACK-AUDIT-100_PromptPack_Saved_Settings_Quality_Census.md
  tests/tools/test_promptpack_quality_census.py
  tools/promptpack_quality_census.py
Due: no-daemon-threads

WP-PACK-AUDIT-100: repair six census correctness/completeness defects
  STATUS.md
  docs/Subsystems/PromptPacks/WP-PACK-AUDIT-100_PromptPack_Saved_Settings_Quality_Census.md
  tests/tools/test_promptpack_quality_census.py
  tools/promptpack_quality_census.py
Due: no-daemon-threads

PR-PACK-110: synchronize ADetailer stage enablement on persistence
  STATUS.md
  docs/CODEX_MAP.md
  docs/StableNew Roadmap v2.6.md
  docs/Subsystems/PromptPacks/PR-PACK-110_ADetailer_Stage_Enablement_Persistence_Repair.md
  src/utils/config.py
  tests/unit/test_config_presets_v2.py
  tests/utils/test_pack_config_flags.py
Due: no-daemon-threads, require-thread-registry

Review repair: synchronize raw input before defaults merge, not after
  docs/Subsystems/PromptPacks/PR-PACK-110_ADetailer_Stage_Enablement_Persistence_Repair.md
  src/utils/config.py
  tests/unit/test_config_presets_v2.py
Due: no-daemon-threads, require-thread-registry

PR-PACK-110: reconcile the four standalone-preset ADetailer sources and close out
  STATUS.md
  docs/StableNew Roadmap v2.6.md
  docs/Subsystems/PromptPacks/PR-PACK-110_ADetailer_Stage_Enablement_Persistence_Repair.md
  presets/Juggernaut_MedievalHeroes_RandomizerAligned_v1b.json
  presets/Photoreal_Character_Juggernaut_SDXL.json
  presets/Testing.json
  presets/default.json
Due: none

PR-PACK-120: add missing asset reference triage workflow
  .gitignore
  STATUS.md
  docs/CODEX_MAP.md
  docs/StableNew Roadmap v2.6.md
  docs/Subsystems/PromptPacks/PR-PACK-120_Missing_Asset_Reference_Triage.md
  tests/tools/test_missing_asset_reference_triage.py
  tools/missing_asset_reference_triage.py
Due: no-daemon-threads

PR-PACK-120: batched apply-safety repair for five confirmed defects
  docs/Subsystems/PromptPacks/PR-PACK-120_Missing_Asset_Reference_Triage.md
  tests/tools/test_missing_asset_reference_triage.py
  tools/missing_asset_reference_triage.py
Due: no-daemon-threads

PR-PACK-120: reduce scope to read-only triage, remove mutation engine
  STATUS.md
  docs/CODEX_MAP.md
  docs/StableNew Roadmap v2.6.md
  docs/Subsystems/PromptPacks/PR-PACK-120_Missing_Asset_Reference_Triage.md
  tests/tools/test_missing_asset_reference_triage.py
  tools/missing_asset_reference_triage.py
Due: no-daemon-threads

PR-PACK-130: reconcile approved missing PromptPack references
  .gitignore
  STATUS.md
  docs/CODEX_MAP.md
  docs/StableNew Roadmap v2.6.md
  docs/Subsystems/PromptPacks/PR-PACK-130_Approved_Missing_Reference_Reconciliation.md
  tests/tools/test_pack130_approved_reference_reconciliation.py
  tools/pack130_approved_reference_reconciliation.py
Due: no-daemon-threads

PR-PACK-130: rollback-safety repair -- scope rollback to actual writes
  docs/Subsystems/PromptPacks/PR-PACK-130_Approved_Missing_Reference_Reconciliation.md
  tests/tools/test_pack130_approved_reference_reconciliation.py
  tools/pack130_approved_reference_reconciliation.py
Due: no-daemon-threads

PR-PACK-130: final closeout -- remove one-time mutation tool
  .gitignore
  STATUS.md
  docs/CODEX_MAP.md
  docs/StableNew Roadmap v2.6.md
  docs/Subsystems/PromptPacks/PR-PACK-130_Approved_Missing_Reference_Reconciliation.md
  tests/tools/test_pack130_approved_reference_reconciliation.py
  tools/pack130_approved_reference_reconciliation.py
Due: no-daemon-threads

PR-VID-190: release owned Comfy after each job; selectable Wan frame count
  STATUS.md
  docs/CODEX_MAP.md
  docs/StableNew Roadmap v2.6.md
  docs/Subsystems/Video/PR-VID-190_Comfy_Runtime_Recycling_and_Frame_Count.md
  src/controller/video_workflow_controller.py
  src/gui/help_text/stage_setting_help_v2.py
  src/gui/views/video_workflow_tab_frame_v2.py
  src/video/comfy_process_manager.py
  src/video/comfy_workflow_backend.py
  src/video/video_workflow_intent.py
  src/video/workflow_catalog.py
  src/video/workflow_frame_count.py
  tests/controller/test_video_workflow_controller.py
  tests/gui_v2/test_video_workflow_tab_frame_v2.py
  tests/integration/test_pr_vid_130_wan_experimental_queue.py
  tests/video/test_pr_vid_190_comfy_lifecycle_frame_count.py
  tests/video/test_wan22_experimental_workflow.py
  tests/video/test_workflow_registry.py
  tools/acceptance/vid190_queue_recycling_acceptance.py
Due: no-daemon-threads, require-thread-registry

PR-VID-190: type the TI2V-5B builder's policy parameters for mypy
  src/video/workflow_catalog.py
Due: no-daemon-threads, require-thread-registry

PR-VID-191: managed ComfyUI v0.37.0 runtime + experimental Wan-Animate-2
  STATUS.md
  docs/CODEX_MAP.md
  docs/StableNew Roadmap v2.6.md
  docs/Subsystems/Video/PR-VID-191_Comfy_v037_Runtime_and_Wan_Animate_2.md
  presets/settings.json
  src/controller/video_workflow_controller.py
  src/gui/help_text/stage_setting_help_v2.py
  src/gui/views/video_workflow_tab_frame_v2.py
  src/video/comfy_workflow_backend.py
  src/video/video_workflow_intent.py
  src/video/workflow_catalog.py
  src/video/workflow_catalog_wan_animate2.py
  tests/controller/test_video_workflow_controller.py
  tests/gui_v2/test_video_workflow_tab_frame_v2.py
  tests/video/test_pr_vid_190_comfy_lifecycle_frame_count.py
  tests/video/test_pr_vid_190_wan_animate2.py
  tests/video/test_workflow_registry.py
  tools/acceptance/vid190_queue_recycling_acceptance.py
Due: no-daemon-threads, require-thread-registry

PR-VID-191: verify driving clip at dispatch and record post-run evidence
  STATUS.md
  docs/Subsystems/Video/PR-VID-191_Comfy_v037_Runtime_and_Wan_Animate_2.md
  src/video/comfy_workflow_backend.py
  tests/video/test_pr_vid_190_wan_animate2.py
Due: no-daemon-threads, require-thread-registry

PR-VID-191: use provider-neutral model recommendation
  docs/Subsystems/Video/PR-VID-191_Comfy_v037_Runtime_and_Wan_Animate_2.md
Due: none

video: close PR-VID-191 local evidence and config hygiene
  STATUS.md
  docs/CODEX_MAP.md
  docs/StableNew Roadmap v2.6.md
  docs/Subsystems/Video/PR-VID-191_Comfy_v037_Runtime_and_Wan_Animate_2.md
  presets/settings.json
  tests/video/test_pr_vid_190_wan_animate2.py
  tools/acceptance/vid190_queue_recycling_acceptance.py
Due: no-daemon-threads

docs: replace Delivery->Release choreography with the single-lane operating model
  .github/agents/stablenew-builder.agent.md
  .github/agents/stablenew-delivery.agent.md
  .github/agents/stablenew-release.agent.md
  AGENTS.md
  docs/AGENT_OPERATING_MODEL.md
  docs/CODEX_WORK_PACKAGE_TEMPLATE.md
Due: none

runtime: report bounded Comfy execution liveness to the runner watchdog (PR-RUNTIME-110)
  STATUS.md
  docs/CODEX_MAP.md
  docs/Subsystems/Runtime/PR-RUNTIME-110_Comfy_Video_Runner_Liveness.md
  src/video/comfy_workflow_backend.py
  tests/video/test_pr_runtime_110_comfy_liveness.py
Due: no-daemon-threads, require-thread-registry

docs: add canonical AI model-selection authority and Model / usage reporting
  .github/agents/stablenew-builder.agent.md
  .github/agents/stablenew-delivery.agent.md
  .github/agents/stablenew-release.agent.md
  AGENTS.md
  CLAUDE.md
  docs/AGENT_OPERATING_MODEL.md
  docs/AI_MODEL_SELECTION.md
  docs/CODEX_WORK_PACKAGE_TEMPLATE.md
Due: none

video: make Animate-2 operator controls match the pinned runtime (PR-VID-192)
  STATUS.md
  docs/CODEX_MAP.md
  docs/Subsystems/Video/PR-VID-192_Animate2_Control_Truth.md
  src/controller/video_workflow_controller.py
  src/gui/help_text/stage_setting_help_v2.py
  src/gui/views/video_workflow_controls_panel_v2.py
  src/gui/views/video_workflow_tab_frame_v2.py
  src/video/comfy_workflow_backend.py
  src/video/workflow_catalog_wan_animate2.py
  src/video/workflow_controls.py
  tests/gui_v2/test_video_workflow_tab_frame_v2.py
  tests/tools/test_vid192_qualification.py
  tests/video/test_pr_vid_192_animate2_controls.py
  tests/video/test_workflow_registry.py
  tools/acceptance/vid190_queue_recycling_acceptance.py
  tools/qualification/vid192/__init__.py
  tools/qualification/vid192/corpus_annotations.json
  tools/qualification/vid192/corpus_inventory.json
  tools/qualification/vid192/motion_corpus.py
Due: no-daemon-threads, require-thread-registry

docs: record PR-VID-192 four-arm Animate-2 qualification results
  STATUS.md
  docs/Subsystems/Video/PR-VID-192_Animate2_Control_Truth.md
Due: none

Fix bounded Comfy liveness and refresh model guidance
  STATUS.md
  docs/AI_MODEL_SELECTION.md
  docs/CODEX_MAP.md
  docs/Subsystems/Runtime/PR-RUNTIME-110_Comfy_Video_Runner_Liveness.md
  src/video/comfy_workflow_backend.py
  tests/video/test_pr_runtime_110_comfy_liveness.py
Due: no-daemon-threads, require-thread-registry

Preserve PR-VID-193 qualification and accepted AD0 evidence
  docs/CODEX_MAP.md
  docs/Subsystems/Video/PR-VID-193_AD0_qualification.json
  docs/Subsystems/Video/PR-VID-193_AnimateDiff_SDXL_HotShot_Qualification.md
  src/gui/controllers/vid193_qualification_adapter.py
  src/gui/views/review_tab_frame_v2.py
  src/pipeline/executor.py
  src/video/animatediff_backend.py
  tests/gui_v2/test_vid193_ad0_qualification_bridge.py
  tests/pipeline/test_animatediff_models.py
  tests/pipeline/test_animatediff_runtime.py
  tests/pipeline/test_animatediff_secondary_motion_runtime.py
  tests/video/test_video_backend_registry.py
Due: no-daemon-threads, require-thread-registry

Isolate Comfy registry fixture and accept PR-VID-193 reconciliation
  docs/Subsystems/Video/PR-VID-193_AnimateDiff_SDXL_HotShot_Qualification.md
  tests/video/test_video_backend_registry.py
Due: no-daemon-threads

PR-VID-193: add frozen AD1 qualification bridge
  docs/Subsystems/Video/PR-VID-193_AD1_qualification.json
  docs/Subsystems/Video/PR-VID-193_AnimateDiff_SDXL_HotShot_Qualification.md
  src/gui/controllers/vid193_qualification_adapter.py
  src/gui/views/review_tab_frame_v2.py
  tests/gui_v2/test_vid193_ad0_qualification_bridge.py
Due: no-daemon-threads, require-thread-registry

PR-TEST-TRUTH-200: repair WebUI ownership/readiness fixtures; drop hanging manual render script
  test_lora_scanner/models/Lora/anime-style.safetensors
  test_lora_scanner/models/Lora/anime-style.safetensors.civitai.info
  test_lora_scanner/models/Lora/cyberpunk-city.safetensors
  test_lora_scanner/models/Lora/cyberpunk-city.safetensors.civitai.info
  test_lora_scanner/models/Lora/detail-xl.safetensors
  test_lora_scanner/models/Lora/detail-xl.safetensors.civitai.info
  tests/api/test_webui_process_manager_shutdown_v2.py
  tests/api/test_webui_true_readiness.py
  tests/gui_v2/test_pipeline_tab_render.py
Due: no-daemon-threads

PR-TEST-TRUTH-200: harden process-global isolation and 1s startup waits; record verification
  docs/Subsystems/Testing/PR-TEST-TRUTH-200_Actionable_CI.md
  tests/conftest.py
  tests/pipeline/test_pr_harden_009_r1a_txt2img_cancellation.py
  tests/pipeline/test_pr_harden_009_r2_img2img_cancellation.py
Due: no-daemon-threads

PR-TEST-TRUTH-200R: fix runner randomizer projection and one-shot->continuous handoff; broaden test isolation
  src/controller/job_service.py
  src/pipeline/pipeline_runner.py
  src/queue/single_node_runner.py
  tests/conftest.py
  tests/controller/test_auto_run_worker_lifecycle_v2.py
  tests/gui_v2/conftest.py
  tests/helpers/optional_deps.py
  tests/integration/conftest.py
  tests/integration/test_pr_mvp_060_phase1b.py
  tests/pipeline/test_executor_adetailer.py
  tests/pipeline/test_pipeline_io_contracts.py
  tests/pipeline/test_pr_harden_009_r1d_managed_stall_policy.py
  tests/system/test_test_runtime_isolation.py
  tests/tools/test_vid160c_qualification.py
  tests/tools/test_vid170_qualification.py
  tests/tools/test_vid175_interpretability.py
  tests/tools/test_vid180_motion_characterization.py
  tests/tools/test_vid181_preprocessing_gate.py
  tools/ci/controller_surface_baseline.json
Due: no-daemon-threads, require-thread-registry

PR-TEST-TRUTH-200R: make non-terminal harness waits explain themselves
  tests/helpers/njr_queue_harness.py
Due: no-daemon-threads

PR-TEST-TRUTH-200R: keep operator-journey subprocess hermetic to host GPU telemetry
  tests/tools/test_operator_journey_gui.py
Due: no-daemon-threads

PR-TEST-TRUTH-200R: record defect fixes and final verification
  STATUS.md
  docs/Subsystems/Testing/PR-TEST-TRUTH-200_Actionable_CI.md
Due: none

PR-TEST-TRUTH-200R: collect garbage only on the main thread in tests; verbose full-suite output
  .github/workflows/ci.yml
  tests/conftest.py
Due: no-daemon-threads

Path conditions:
  no-daemon-threads: any of: \.py$
  require-thread-registry: any of: ^src/ and \.py$
