Repository destroyer42/StableNew2: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-daemon-threads, require-thread-registry

.pre-commit-config.yaml:

# Pre-commit hooks for code quality and consistency
# Install with: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Custom StableNew architectural guardrails (PR-THREAD-001)
  - repo: local
    hooks:
      # Prevent daemon=True threads
      - id: no-daemon-threads
        name: Check for daemon=True thread usage
        entry: python scripts/check_daemon_threads.py
        language: python
        types: [python]
        pass_filenames: false
        stages: [commit]
        description: "Ensures no new daemon threads are introduced (use ThreadRegistry instead)"
      
      # Ensure ThreadRegistry is used for new threads
      - id: require-thread-registry
        name: Verify threading.Thread() uses ThreadRegistry
        entry: python scripts/check_thread_registry_usage.py
        language: python
        types: [python]
        files: ^src/
        pass_filenames: true
        stages: [commit]
        description: "Validates all new threading.Thread() calls use ThreadRegistry.spawn()"
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(archive|ARCHIVE)/
      - id: end-of-file-fixer
        exclude: ^(archive|ARCHIVE)/
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
        exclude: ^(archive|ARCHIVE)/

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.15
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        exclude: ^(archive|ARCHIVE)/
      - id: ruff-format
        exclude: ^(archive|ARCHIVE)/

  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        language_version: python3.11
        exclude: ^(archive|ARCHIVE)/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [types-requests]
        exclude: ^(tests|archive|ARCHIVE)/
        args: [--ignore-missing-imports, --show-error-codes]

PR-MVP-060 Phase 3A-R4: fix auto-run worker lifecycle
  src/controller/app_controller.py
  src/controller/job_execution_controller.py
  src/controller/job_service.py
  src/controller/job_service_auto_run.py
  src/controller/pipeline_controller.py
  src/queue/single_node_runner.py
  tests/controller/test_auto_run_worker_lifecycle_v2.py
  tests/controller/test_pipeline_controller_webui_gating.py
  tests/gui_v2/test_pr_mvp_060_phase3a_r1_queue.py
  tools/ci/controller_surface_baseline.json
Due: no-daemon-threads, require-thread-registry

PR-MVP-060: finalize image vertical slice acceptance
  STATUS.md
Due: none

PR-PACKS-001 Phase 3A: mark external storage integrated
  STATUS.md
Due: none

PR-REPO-HYGIENE: stop tracking generated LoRA cache
  .gitignore
  data/lora_cache.json
  tests/utils/test_lora_cache_regeneration.py
Due: no-daemon-threads

docs: sync StableNew state after PromptPack cleanup
  STATUS.md
  docs/StableNew Roadmap v2.6.md
Due: none

fix: populate WebUI scheduler resources in Base Generation
  src/api/client.py
  src/api/webui_resource_service.py
  src/gui/views/pipeline_tab_frame_v2.py
  tests/api/test_scheduler_resources.py
  tests/gui_v2/test_pipeline_dropdown_refresh_v2.py
Due: no-daemon-threads, require-thread-registry

docs: record scheduler resource integration
  STATUS.md
Due: none

PR-MVP-070 Phase 1: converge native SVD admission and vertical slice
  STATUS.md
  src/controller/app_controller.py
  src/controller/svd_controller.py
  src/gui/views/svd_tab_frame_v2.py
  src/pipeline/executor.py
  src/video/svd_capabilities.py
  src/video/svd_models.py
  src/video/svd_service.py
  tests/controller/test_svd_controller.py
  tests/gui_v2/test_svd_tab_frame_v2.py
  tests/integration/test_pr_mvp_070_svd_native_vertical_slice.py
  tests/video/test_svd_capabilities.py
  tests/video/test_svd_integration.py
  tests/video/test_svd_models.py
  tests/video/test_svd_service.py
  tools/ci/controller_surface_baseline.json
Due: no-daemon-threads, require-thread-registry

PR-HARDEN-008: make runner watchdog diagnostics truthful
  STATUS.md
  src/controller/app_controller.py
  src/controller/job_service.py
  src/queue/single_node_runner.py
  src/services/watchdog_system_v2.py
  tests/services/test_pr_harden_008_watchdog.py
  tools/ci/controller_surface_baseline.json
Due: no-daemon-threads, require-thread-registry

PR-MVP-070 Phase 1R1: reconcile SVD admission and core defaults
  src/controller/app_controller.py
  src/gui/views/svd_tab_frame_v2.py
  src/video/svd_capabilities.py
  tests/controller/test_app_controller_svd.py
  tests/gui_v2/test_svd_tab_frame_v2.py
  tests/video/test_svd_capabilities.py
Due: no-daemon-threads, require-thread-registry

PR-HARDEN-008 Phase 2A: make WebUI stall recovery timely
  STATUS.md
  src/pipeline/executor.py
  tests/pipeline/test_executor_progress_polling.py
Due: no-daemon-threads, require-thread-registry

PR-HARDEN-008 Phase 2A-R1: honor stage hard stall thresholds
  src/pipeline/executor.py
  tests/pipeline/test_executor_progress_polling.py
Due: no-daemon-threads, require-thread-registry

PR-HARDEN-008 Phase 2B: prevent ambiguous generation retries
  STATUS.md
  src/api/client.py
  src/api/types.py
  src/api/webui_api.py
  src/pipeline/executor.py
  tests/api/test_webui_api_true_ready.py
  tests/api/test_webui_retry_policy_v2.py
  tests/pipeline/test_executor_generate_errors.py
Due: no-daemon-threads, require-thread-registry

docs: close PR-HARDEN-008
  STATUS.md
Due: none

PR-MVP-070 Phase 2: harden native SVD runtime lifecycle
  STATUS.md
  src/controller/pipeline_controller.py
  src/pipeline/executor.py
  src/pipeline/pipeline_runner.py
  src/video/svd_errors.py
  src/video/svd_runner.py
  src/video/svd_service.py
  tests/integration/test_pr_mvp_070_svd_native_vertical_slice.py
  tests/pipeline/test_svd_runtime.py
  tests/video/test_svd_runner.py
  tests/video/test_svd_runtime_hardening.py
Due: no-daemon-threads, require-thread-registry

PR-MVP-070 Phase 2R1: make SVD terminal cleanup exact
  src/video/svd_registry.py
  src/video/svd_runner.py
  tests/video/test_svd_runtime_hardening.py
Due: no-daemon-threads, require-thread-registry

PR-MVP-070 Phase 2R2: make SVD artifacts job-unique
  src/video/svd_registry.py
  src/video/svd_runner.py
  tests/video/test_svd_registry.py
  tests/video/test_svd_runner.py
  tests/video/test_svd_runtime_hardening.py
Due: no-daemon-threads, require-thread-registry

PR-MVP-070 Phase 3R adopt 14-frame SVD baseline
  src/controller/svd_controller.py
  src/gui/help_text/stage_setting_help_v2.py
  src/gui/views/svd_tab_frame_v2.py
  tests/controller/test_svd_controller.py
  tests/gui_v2/test_svd_tab_frame_v2.py
  tests/video/test_svd_integration.py
Due: no-daemon-threads, require-thread-registry

PR-MVP-070 Phase 3A-R1 exact MP4 frame-count export repair
  src/pipeline/video.py
  tests/pipeline/test_video.py
Due: no-daemon-threads, require-thread-registry

docs: close PR-MVP-070 and advance MVP roadmap
  CHANGELOG.md
  STATUS.md
  docs/StableNew Roadmap v2.6.md
Due: none

PR-MVP-080 Phase 1: add operator readiness projection
  src/services/operator_readiness_service.py
  tests/services/test_operator_readiness_service.py
Due: no-daemon-threads, require-thread-registry

Revert "PR-MVP-080 Phase 1: add operator readiness projection"
  src/services/operator_readiness_service.py
  tests/services/test_operator_readiness_service.py
Due: no-daemon-threads, require-thread-registry

PR-MVP-080 Phase 0: add source-aware SVD targets
  src/gui/views/svd_tab_frame_v2.py
  src/video/svd_target.py
  tests/controller/test_svd_controller.py
  tests/gui_v2/test_svd_tab_frame_v2.py
  tests/video/test_svd_target.py
Due: no-daemon-threads, require-thread-registry

Reapply "PR-MVP-080 Phase 1: add operator readiness projection"
  src/services/operator_readiness_service.py
  tests/services/test_operator_readiness_service.py
Due: no-daemon-threads, require-thread-registry

PR-MVP-080 Phase 1R: normalize focused test imports
  src/gui/views/svd_tab_frame_v2.py
  tests/gui_v2/test_svd_tab_frame_v2.py
Due: no-daemon-threads, require-thread-registry

PR-MVP-080 Phase 2: operator readiness UI
  STATUS.md
  src/gui/main_window_v2.py
  src/gui/panels_v2/operator_readiness_panel_v2.py
  src/main.py
  src/services/operator_readiness_service.py
  tests/app/test_webui_launch_opens_browser_v2.py
  tests/gui_v2/test_core_config_webui_resources_v2.py
  tests/gui_v2/test_main_window_persistence_regressions.py
  tests/gui_v2/test_main_window_smoke_v2.py
  tests/gui_v2/test_operator_readiness_panel_v2.py
Due: no-daemon-threads, require-thread-registry

PR-HARDEN-009: correct runtime stall and timeout behavior
  STATUS.md
  src/api/client.py
  src/controller/app_controller.py
  src/controller/core_pipeline_controller.py
  src/queue/single_node_runner.py
  src/services/operator_readiness_service.py
  src/services/watchdog_system_v2.py
  tests/queue/test_single_node_runner.py
  tests/services/test_operator_readiness_service.py
  tests/services/test_pr_harden_009_runtime_correctness.py
  tests/system/test_watchdog_ui_stall.py
  tools/ci/controller_surface_baseline.json
Due: no-daemon-threads, require-thread-registry

PR-MVP-080 R1: enforce SVD geometry and truthful preset state
  src/gui/views/svd_tab_frame_v2.py
  src/video/svd_service.py
  tests/gui_v2/test_svd_tab_frame_v2.py
  tests/video/test_svd_runtime_hardening.py
  tests/video/test_svd_service.py
Due: no-daemon-threads, require-thread-registry

PR-HARDEN-009 R1A: prove canonical txt2img cancellation
  tests/pipeline/test_pr_harden_009_r1a_txt2img_cancellation.py
Due: no-daemon-threads

PR-HARDEN-009 R1D: enforce managed stall recovery policy
  src/pipeline/executor.py
  tests/pipeline/test_pr_harden_009_r1d_managed_stall_policy.py
Due: no-daemon-threads, require-thread-registry

docs: sync Codex execution and MVP-080 canonical state
  AGENTS.md
  STATUS.md
  docs/ARCHITECTURE_v2.6.md
  docs/CODEX_MAP.md
  docs/StableNew Roadmap v2.6.md
  docs/StableNew_Coding_and_Testing_v2.6.md
Due: none

docs: finalize dynamic repo truth workflow
  AGENTS.md
  STATUS.md
Due: none

fix: align img2img in-flight cancellation
  src/pipeline/executor.py
  tests/pipeline/test_pr_harden_009_r2_img2img_cancellation.py
Due: no-daemon-threads, require-thread-registry

docs: close img2img cancellation hardening
  STATUS.md
  docs/StableNew Roadmap v2.6.md
Due: none

docs: record SVD runtime bootstrap blocker
  STATUS.md
  docs/StableNew Roadmap v2.6.md
Due: none

docs: refine SVD bootstrap cache blocker
  STATUS.md
Due: none

docs: correct SVD cache authority blocker
  STATUS.md
Due: none

docs: refine stale SVD operator profile blocker
  STATUS.md
Due: none

docs: record SVD operator preflight acceptance
  STATUS.md
Due: none
