Repository destroyer42/StableNew2: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-daemon-threads, require-thread-registry

.pre-commit-config.yaml:

# Pre-commit hooks for code quality and consistency
# Install with: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Custom StableNew architectural guardrails (PR-THREAD-001)
  - repo: local
    hooks:
      # Prevent daemon=True threads
      - id: no-daemon-threads
        name: Check for daemon=True thread usage
        entry: python scripts/check_daemon_threads.py
        language: python
        types: [python]
        pass_filenames: false
        stages: [commit]
        description: "Ensures no new daemon threads are introduced (use ThreadRegistry instead)"
      
      # Ensure ThreadRegistry is used for new threads
      - id: require-thread-registry
        name: Verify threading.Thread() uses ThreadRegistry
        entry: python scripts/check_thread_registry_usage.py
        language: python
        types: [python]
        files: ^src/
        pass_filenames: true
        stages: [commit]
        description: "Validates all new threading.Thread() calls use ThreadRegistry.spawn()"
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(archive|ARCHIVE)/
      - id: end-of-file-fixer
        exclude: ^(archive|ARCHIVE)/
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
        exclude: ^(archive|ARCHIVE)/

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.15
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        exclude: ^(archive|ARCHIVE)/
      - id: ruff-format
        exclude: ^(archive|ARCHIVE)/

  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        language_version: python3.11
        exclude: ^(archive|ARCHIVE)/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [types-requests]
        exclude: ^(tests|archive|ARCHIVE)/
        args: [--ignore-missing-imports, --show-error-codes]

feat: add typed image backend routing
  src/image_backends/__init__.py
  src/image_backends/a1111_webui_backend.py
  src/image_backends/image_backend_registry.py
  src/image_backends/image_backend_types.py
  src/pipeline/njr_core_v26.py
  src/pipeline/pipeline_runner.py
  tests/image_backends/test_image_backend_contract.py
Due: no-daemon-threads, require-thread-registry

style: normalize image backend registry EOF
  src/image_backends/image_backend_registry.py
Due: no-daemon-threads, require-thread-registry

feat: complete image backend boundary
  src/gui/controllers/learning_controller.py
  src/image_backends/__init__.py
  src/image_backends/a1111_webui_backend.py
  src/image_backends/image_backend_types.py
  src/pipeline/cli_njr_builder.py
  src/pipeline/job_builder_v2.py
  src/pipeline/njr_core_v26.py
  src/pipeline/pipeline_runner.py
  src/pipeline/prompt_pack_job_builder.py
  src/pipeline/reprocess_builder.py
  tests/image_backends/test_image_backend_contract.py
Due: no-daemon-threads, require-thread-registry

fix: route legacy image run through queue
  src/controller/app_controller.py
  tests/controller/test_app_controller_run_queue_path.py
Due: no-daemon-threads, require-thread-registry

remove obsolete direct txt2img runner
  src/pipeline/pipeline_runner.py
Due: no-daemon-threads, require-thread-registry

docs: close out backend-neutral image execution
  STATUS.md
  docs/ARCHITECTURE_v2.6.md
  docs/CODEX_MAP.md
  docs/StableNew Roadmap v2.6.md
  docs/Subsystems/Image/PR-IMG-100_Backend-Neutral_Image_Execution.md
Due: none

docs: repair IMG-100 canonical truth
  STATUS.md
  docs/StableNew Roadmap v2.6.md
  docs/Subsystems/Image/PR-IMG-100_Backend-Neutral_Image_Execution.md
Due: none

docs: record IMG-100 main integration
  STATUS.md
  docs/ARCHITECTURE_v2.6.md
  docs/StableNew Roadmap v2.6.md
  docs/Subsystems/Image/PR-IMG-100_Backend-Neutral_Image_Execution.md
Due: none

feat: add SVD folder batch submission
  STATUS.md
  docs/CODEX_MAP.md
  docs/StableNew Roadmap v2.6.md
  docs/Subsystems/Video/PR-SVD-100_Folder_Batch_Submission.md
  src/controller/app_controller.py
  src/controller/svd_controller.py
  src/controller/svd_submission_service.py
  src/gui/views/svd_tab_frame_v2.py
  src/video/svd_preprocess.py
  tests/controller/test_app_controller_svd.py
  tests/controller/test_svd_controller.py
  tests/gui_v2/test_svd_tab_frame_v2.py
  tests/video/test_svd_folder_discovery.py
Due: no-daemon-threads, require-thread-registry

docs: close out SVD folder batch submission
  STATUS.md
  docs/StableNew Roadmap v2.6.md
  docs/Subsystems/Video/PR-SVD-100_Folder_Batch_Submission.md
Due: none

docs: record SVD-100 main integration
  STATUS.md
  docs/StableNew Roadmap v2.6.md
  docs/Subsystems/Video/PR-SVD-100_Folder_Batch_Submission.md
Due: none

docs: record IMG-110 qualification no-go
  STATUS.md
  docs/CODEX_MAP.md
  docs/StableNew Roadmap v2.6.md
  docs/Subsystems/Image/PR-IMG-110_Diffusers_Ideogram4_Qualification.md
  tools/qualification/img110/capture_fault_state.ps1
  tools/qualification/img110/cuda_sanity.py
  tools/qualification/img110/cuda_sustained.py
  tools/qualification/img110/diagnose_loader.py
  tools/qualification/img110/run_ideogram.py
  tools/qualification/img110/run_sdxl_control.py
Due: no-daemon-threads

docs: correct IMG-110 CI evidence
  docs/Subsystems/Image/PR-IMG-110_Diffusers_Ideogram4_Qualification.md
Due: none

feat: make learning experiments evidence-safe
  src/gui/controllers/learning_controller.py
  src/gui/learning_state.py
  src/gui/views/learning_review_panel.py
  src/gui/views/review_tab_frame_v2.py
  src/learning/execution_controller.py
  src/learning/experiment_execution.py
  src/learning/learning_record.py
  src/learning/recommendation_engine.py
  tests/controller/test_learning_controller_integration.py
  tests/controller/test_learning_controller_njr.py
  tests/learning_v2/test_apply_recommendations.py
  tests/learning_v2/test_pr_learn_300_experiment_coherence.py
  tests/learning_v2/test_recommendation_engine_evidence_tiering.py
  tests/learning_v2/test_recommendation_engine_guards.py
  tests/learning_v2/test_recommendation_engine_rating_detail_integration.py
Due: no-daemon-threads, require-thread-registry

docs: record learning experiment evidence semantics
  STATUS.md
  docs/ARCHITECTURE_v2.6.md
  docs/CODEX_MAP.md
  docs/StableNew Roadmap v2.6.md
  docs/Subsystems/Learning/Learning_System_Spec_v2.6.md
Due: none

fix: exclude incomplete experiment evidence
  STATUS.md
  docs/ARCHITECTURE_v2.6.md
  docs/Subsystems/Learning/Learning_System_Spec_v2.6.md
  src/learning/recommendation_engine.py
  tests/learning_v2/test_pr_learn_300_experiment_coherence.py
Due: no-daemon-threads, require-thread-registry

docs: keep learn 300 review work in progress
  STATUS.md
  docs/StableNew Roadmap v2.6.md
  docs/Subsystems/Learning/Learning_System_Spec_v2.6.md
Due: none

feat: complete learning experiment workflow
  STATUS.md
  docs/ARCHITECTURE_v2.6.md
  docs/CODEX_MAP.md
  docs/StableNew Roadmap v2.6.md
  docs/Subsystems/Learning/Learning_System_Spec_v2.6.md
  src/gui/controllers/learning_controller.py
  src/gui/views/experiment_design_panel.py
  src/gui/views/learning_review_panel.py
  src/learning/experiment_naming.py
  src/learning/resource_access.py
  src/learning/review_workspace.py
  src/pipeline/pipeline_runner.py
  tests/learning_v2/test_pr_learn_300_experiment_coherence.py
Due: no-daemon-threads, require-thread-registry

docs: refresh learning workflow status date
  STATUS.md
  docs/StableNew Roadmap v2.6.md
Due: none

fix: make learning review workspace responsive
  src/gui/views/experiment_design_panel.py
  src/gui/views/learning_review_panel.py
  src/gui/views/learning_tab_frame_v2.py
  src/gui/widgets/image_thumbnail.py
  tests/gui/test_image_thumbnail.py
  tests/gui_v2/test_experiment_design_panel_stage_contract.py
  tests/gui_v2/test_workspace_layout_resilience_v2.py
Due: no-daemon-threads, require-thread-registry

fix: converge learning review workflow
  src/gui/controllers/learning_controller.py
  src/gui/help_text/workflow_guidance_v2.py
  src/gui/learning_state.py
  src/gui/views/discovered_review_inbox_panel.py
  src/gui/views/discovered_review_table.py
  src/gui/views/learning_review_panel.py
  src/gui/views/learning_tab_frame_v2.py
  src/learning/discovered_review_store.py
  src/learning/learning_record.py
  src/learning/output_scan_models.py
  src/learning/output_scanner.py
  tests/gui_v2/test_discovered_review_inbox.py
  tests/gui_v2/test_learning_tab_state_persistence.py
  tests/learning_v2/test_discovered_review_store.py
  tests/learning_v2/test_pr_learn_300_workspace_persistence.py
Due: no-daemon-threads, require-thread-registry

feat: freeze learning experiment evidence
  STATUS.md
  docs/ARCHITECTURE_v2.6.md
  docs/StableNew Roadmap v2.6.md
  src/gui/controllers/learning_controller.py
  src/gui/learning_state.py
  src/gui/views/discovered_review_inbox_panel.py
  src/gui/views/discovered_review_table.py
  src/gui/views/learning_tab_frame_v2.py
  src/image_backends/a1111_webui_backend.py
  src/image_backends/image_backend_types.py
  src/learning/discovered_grouping.py
  src/learning/discovered_review_models.py
  src/learning/discovered_review_store.py
  src/learning/experiment_freeze.py
  src/learning/experiment_naming.py
  src/learning/recommendation_engine.py
  src/pipeline/executor.py
  src/pipeline/pipeline_runner.py
  src/promptpacks/storage.py
  tests/learning_v2/test_discovered_review_store.py
  tests/learning_v2/test_experiment_freeze.py
  tests/learning_v2/test_pr_learn_300_experiment_coherence.py
Due: no-daemon-threads, require-thread-registry

feat: complete learning workflow coherence
  STATUS.md
  docs/ARCHITECTURE_v2.6.md
  docs/CODEX_MAP.md
  docs/StableNew Roadmap v2.6.md
  src/curation/curation_workflow_builder.py
  src/gui/controllers/learning_controller.py
  src/gui/help_text/workflow_guidance_v2.py
  src/gui/views/discovered_review_inbox_panel.py
  src/gui/views/discovered_review_table.py
  src/gui/views/experiment_design_panel.py
  src/gui/views/learning_tab_frame_v2.py
  src/learning/discovered_review_models.py
  src/learning/discovered_review_store.py
  src/learning/experiment_conclusion.py
  src/learning/experiment_freeze.py
  src/learning/experiment_lifecycle.py
  src/learning/staged_recommendations.py
  tests/gui_v2/test_discovered_review_inbox.py
  tests/gui_v2/test_learning_tab_state_persistence.py
  tests/learning_v2/test_pr_learn_300_workflow_continuation.py
Due: no-daemon-threads, require-thread-registry

fix: preserve learning seed propagation and readback
  src/gui/controllers/learning_controller.py
  src/learning/execution_controller.py
  src/learning/experiment_naming.py
  src/pipeline/executor.py
  src/pipeline/pipeline_runner.py
  tests/learning_v2/test_pr_learn_300_seed_propagation.py
Due: no-daemon-threads, require-thread-registry

docs: record physical seed acceptance
  STATUS.md
  docs/StableNew Roadmap v2.6.md
Due: none

fix: freeze global prompt intent across queue and learning
  docs/ARCHITECTURE_v2.6.md
  src/controller/app_controller.py
  src/controller/global_prompt_policy_service.py
  src/controller/pipeline_controller.py
  src/gui/controllers/learning_controller.py
  src/gui/sidebar_panel_v2.py
  src/gui/views/pipeline_tab_frame_v2.py
  src/image_backends/a1111_webui_backend.py
  src/pipeline/executor.py
  src/pipeline/global_prompt_policy.py
  src/pipeline/prompt_pack_job_builder.py
  src/utils/config.py
  src/utils/negative_helpers_v2.py
  tests/controller/test_builder_pipeline_contract_v2_6.py
  tests/controller/test_global_prompt_flags.py
  tests/learning_v2/test_pr_learn_300_experiment_coherence.py
  tests/learning_v2/test_pr_learn_300_seed_propagation.py
  tests/pipeline/test_global_prompt_policy.py
  tests/utils/test_negative_helpers_v2.py
  tools/ci/controller_surface_baseline.json
Due: no-daemon-threads, require-thread-registry

fix: wire current global prompt policy into preview compilation
  src/controller/app_controller.py
  src/controller/global_prompt_policy_service.py
  src/controller/pipeline_controller.py
  tests/controller/test_builder_pipeline_contract_v2_6.py
  tests/controller/test_core_run_path_v2.py
  tools/ci/controller_surface_baseline.json
Due: no-daemon-threads, require-thread-registry

fix: execute and validate LoRA strength variants in learning experiments
  docs/ARCHITECTURE_v2.6.md
  src/gui/controllers/learning_controller.py
  src/learning/experiment_naming.py
  src/learning/lora_variant.py
  src/learning/recommendation_engine.py
  tests/learning_v2/test_pr_learn_300_lora_strength.py
Due: no-daemon-threads, require-thread-registry

docs: close out PR-LEARN-300 as accepted and integrated
  STATUS.md
  docs/StableNew Roadmap v2.6.md
Due: none

test: add semantic Tk operator-journey harness and LoRA-strength reference journey
  AGENTS.md
  docs/CODEX_MAP.md
  docs/StableNew_Coding_and_Testing_v2.6.md
  docs/Subsystems/Testing/E2E_Golden_Path_Test_Matrix_v2.6.md
  tests/tools/test_operator_journey_gui.py
  tests/tools/test_operator_journey_harness.py
  tools/ci/run_required_smoke.py
  tools/operator_journey/__init__.py
  tools/operator_journey/__main__.py
  tools/operator_journey/capture.py
  tools/operator_journey/cli.py
  tools/operator_journey/evidence.py
  tools/operator_journey/fake_a1111.py
  tools/operator_journey/journeys/__init__.py
  tools/operator_journey/journeys/learning_lora_strength.py
  tools/operator_journey/observe.py
  tools/operator_journey/owned.py
  tools/operator_journey/preflight.py
  tools/operator_journey/tk_driver.py
  tools/operator_journey/workspace.py
Due: no-daemon-threads

test: make operator-journey CLI backend selection deterministic across Python versions
  tests/tools/test_operator_journey_gui.py
  tests/tools/test_operator_journey_harness.py
  tools/operator_journey/cli.py
  tools/operator_journey/journeys/learning_lora_strength.py
Due: no-daemon-threads

docs: record PR-TEST-OPERATOR-100 implementation state
  STATUS.md
Due: none

fix: group structured Learning variant values in recommendations
  STATUS.md
  src/learning/recommendation_engine.py
  src/learning/value_identity.py
  tests/learning_v2/test_recommendation_structured_values.py
  tests/tools/test_operator_journey_gui.py
  tests/tools/test_operator_journey_harness.py
  tools/operator_journey/journeys/learning_lora_strength.py
  tools/operator_journey/workspace.py
Due: no-daemon-threads, require-thread-registry

test: keep the operator's A1111 checkpoint unchanged during real journeys
  docs/StableNew_Coding_and_Testing_v2.6.md
  tests/tools/test_operator_journey_gui.py
  tests/tools/test_operator_journey_harness.py
  tools/operator_journey/fake_a1111.py
  tools/operator_journey/journeys/learning_lora_strength.py
Due: no-daemon-threads

docs: record PR-TEST-OPERATOR-100 real journey pass
  STATUS.md
Due: none

docs: close out PR-TEST-OPERATOR-100 as accepted and integrated
  STATUS.md
Due: none

fix: summarize structured variant values in Learning Analytics
  STATUS.md
  src/gui/views/learning_analytics_panel.py
  src/learning/learning_analytics.py
  src/learning/value_identity.py
  tests/learning_v2/test_learning_analytics_structured_values.py
  tests/tools/test_operator_journey_gui.py
  tests/tools/test_operator_journey_harness.py
  tools/operator_journey/journeys/learning_lora_strength.py
Due: no-daemon-threads, require-thread-registry

docs: close out PR-LEARN-301 and record journey import-safety rule
  STATUS.md
  docs/StableNew_Coding_and_Testing_v2.6.md
Due: none

test: add discovered-outputs operator journey and read isolation for production output
  STATUS.md
  docs/CODEX_MAP.md
  docs/StableNew_Coding_and_Testing_v2.6.md
  docs/Subsystems/Testing/E2E_Golden_Path_Test_Matrix_v2.6.md
  src/utils/diagnostics_bundle_v2.py
  tests/learning_v2/test_discovered_outputs_lifecycle.py
  tests/tools/test_operator_journey_gui.py
  tests/tools/test_operator_journey_harness.py
  tools/operator_journey/cli.py
  tools/operator_journey/dialogs.py
  tools/operator_journey/fixtures.py
  tools/operator_journey/journeys/discovered_outputs_review.py
  tools/operator_journey/journeys/learning_lora_strength.py
  tools/operator_journey/tk_driver.py
  tools/operator_journey/workspace.py
Due: no-daemon-threads, require-thread-registry

test: keep the full dialog history in discovered-outputs journey evidence
  tools/operator_journey/dialogs.py
  tools/operator_journey/journeys/discovered_outputs_review.py
Due: no-daemon-threads
