Repository destroyer42/StableNew2: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-daemon-threads, require-thread-registry

.pre-commit-config.yaml:

# Pre-commit hooks for code quality and consistency
# Install with: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Custom StableNew architectural guardrails (PR-THREAD-001)
  - repo: local
    hooks:
      # Prevent daemon=True threads
      - id: no-daemon-threads
        name: Check for daemon=True thread usage
        entry: python scripts/check_daemon_threads.py
        language: python
        types: [python]
        pass_filenames: false
        stages: [commit]
        description: "Ensures no new daemon threads are introduced (use ThreadRegistry instead)"
      
      # Ensure ThreadRegistry is used for new threads
      - id: require-thread-registry
        name: Verify threading.Thread() uses ThreadRegistry
        entry: python scripts/check_thread_registry_usage.py
        language: python
        types: [python]
        files: ^src/
        pass_filenames: true
        stages: [commit]
        description: "Validates all new threading.Thread() calls use ThreadRegistry.spawn()"
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(archive|ARCHIVE)/
      - id: end-of-file-fixer
        exclude: ^(archive|ARCHIVE)/
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
        exclude: ^(archive|ARCHIVE)/

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.15
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        exclude: ^(archive|ARCHIVE)/
      - id: ruff-format
        exclude: ^(archive|ARCHIVE)/

  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        language_version: python3.11
        exclude: ^(archive|ARCHIVE)/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [types-requests]
        exclude: ^(tests|archive|ARCHIVE)/
        args: [--ignore-missing-imports, --show-error-codes]

PR-TEST-TRUTH-200R: make tests hermetic to host data, platform and display
  tests/controller/test_process_auto_scanner_service.py
  tests/gui_v2/conftest.py
  tests/gui_v2/test_core_config_webui_resources_v2.py
  tests/gui_v2/test_pr_mvp_060_phase3a_r1_queue.py
  tests/gui_v2/test_thumbnail_widget_v2.py
  tests/helpers/optional_deps.py
  tests/history/test_history_image_metadata_reconcile.py
  tests/pipeline/test_executor_refinement_manifest.py
  tests/pipeline/test_prompt_pack_job_builder.py
  tests/pipeline/test_video.py
  tests/test_stage_flag_corruption.py
  tests/tools/test_operator_journey_gui.py
  tests/utils/test_stage_flag_corruption.py
Due: no-daemon-threads

PR-TEST-TRUTH-200R: calibrate pixel-geometry sidebar test to the supported Windows platform
  tests/gui_v2/test_core_config_webui_resources_v2.py
Due: no-daemon-threads

PR-TEST-TRUTH-200R: keep the continuous handoff when the one-shot job fails; restore VACE guard; fix scope header
  docs/Subsystems/Testing/PR-TEST-TRUTH-200_Actionable_CI.md
  src/queue/single_node_runner.py
  tests/controller/test_auto_run_worker_lifecycle_v2.py
Due: no-daemon-threads, require-thread-registry

PR-TEST-TRUTH-200R: shadow only nvidia-smi in the journey subprocess; keep git (UserDataGuard) available
  tests/tools/test_operator_journey_gui.py
Due: no-daemon-threads

PR-TEST-TRUTH-200R: actually restore the VACE word boundaries (were backspace bytes)
  tests/tools/test_vid110_qualification.py
Due: no-daemon-threads

PR-TEST-TRUTH-200R: keep the nvidia-smi shim directory out of the journey evidence directory
  tests/tools/test_operator_journey_gui.py
Due: no-daemon-threads

PR-TEST-TRUTH-200: make the canonical harness own its HTTP transport
  tests/helpers/njr_queue_harness.py
  tests/integration/test_njr_queue_harness_http_isolation.py
Due: no-daemon-threads

Deleting test pack
  packs/test_pack.json.bak
Due: none

Revert "Merge branch 'main' of https://github.com/destroyer42/StableNew2 into feature/pr-vid-193-animatediff-sdxl-qualification"
  docs/CODEX_MAP.md
  docs/Subsystems/Video/PR-VID-193_AD0_qualification.json
  docs/Subsystems/Video/PR-VID-193_AD1_qualification.json
  docs/Subsystems/Video/PR-VID-193_AnimateDiff_SDXL_HotShot_Qualification.md
  packs/test_pack.json.bak
  src/gui/controllers/vid193_qualification_adapter.py
  src/gui/views/review_tab_frame_v2.py
  src/pipeline/executor.py
  src/video/animatediff_backend.py
  tests/gui_v2/test_vid193_ad0_qualification_bridge.py
  tests/pipeline/test_animatediff_models.py
  tests/pipeline/test_animatediff_runtime.py
  tests/pipeline/test_animatediff_secondary_motion_runtime.py
  tests/video/test_video_backend_registry.py
Due: no-daemon-threads, require-thread-registry

PR-VID-194: add one-variable video workflow experiments
  STATUS.md
  docs/CODEX_MAP.md
  docs/Subsystems/Video/PR-VID-194_Animate2_One_Variable_Operator_Experiments.md
  src/controller/app_controller.py
  src/controller/video_workflow_controller.py
  src/gui/view_contracts/video_experiment_contract.py
  src/gui/views/video_workflow_experiment_panel_v2.py
  src/gui/views/video_workflow_tab_frame_v2.py
  src/pipeline/reprocess_builder.py
  src/video/video_workflow_experiment.py
  src/video/video_workflow_njr_builder.py
  tests/controller/test_app_controller_svd.py
  tests/gui_v2/test_video_workflow_experiment_ui.py
  tests/video/test_pr_vid_194_one_variable_experiments.py
Due: no-daemon-threads, require-thread-registry

PR-VID-194R: run experiment preview/admission off the Tk thread
  docs/Subsystems/Video/PR-VID-194_Animate2_One_Variable_Operator_Experiments.md
  src/controller/video_workflow_controller.py
  src/gui/view_contracts/video_experiment_contract.py
  src/gui/views/video_workflow_experiment_panel_v2.py
  src/gui/views/video_workflow_tab_frame_v2.py
  src/video/video_workflow_njr_builder.py
  tests/gui_v2/test_video_workflow_experiment_ui.py
  tests/video/test_pr_vid_194_one_variable_experiments.py
Due: no-daemon-threads, require-thread-registry

PR-VID-194T: admit NJR batches all-or-none at the canonical boundary
  docs/ARCHITECTURE_v2.6.md
  docs/Subsystems/Video/PR-VID-194_Animate2_One_Variable_Operator_Experiments.md
  src/controller/job_service.py
  src/queue/job_queue.py
  src/queue/job_repository.py
  tests/queue/test_batch_admission_atomicity.py
  tests/video/test_pr_vid_194_one_variable_experiments.py
Due: no-daemon-threads, require-thread-registry

PR-VID-195: make workflow source preparation concurrency-safe
  src/video/workflow_source_preparation.py
  tests/video/test_workflow_source_preparation.py
Due: no-daemon-threads, require-thread-registry

PR-VID-194: align final owner-review status
  STATUS.md
  docs/Subsystems/Video/PR-VID-194_Animate2_One_Variable_Operator_Experiments.md
Due: none

PR-VID-194: serialize durable admission with queue projection
  docs/ARCHITECTURE_v2.6.md
  docs/Subsystems/Video/PR-VID-194_Animate2_One_Variable_Operator_Experiments.md
  src/queue/job_queue.py
  tests/queue/test_batch_admission_atomicity.py
Due: no-daemon-threads, require-thread-registry

PR-VID-194: distinguish admitted jobs from runner startup failures
  docs/ARCHITECTURE_v2.6.md
  docs/Subsystems/Video/PR-VID-194_Animate2_One_Variable_Operator_Experiments.md
  src/controller/job_service.py
  tests/queue/test_batch_admission_atomicity.py
Due: no-daemon-threads, require-thread-registry

PR-VID-194: serialize queue reordering with admission
  docs/ARCHITECTURE_v2.6.md
  src/queue/job_queue.py
  tests/queue/test_batch_admission_atomicity.py
Due: no-daemon-threads, require-thread-registry

PR-DEVEX-100: deterministic Python 3.12 runtime and token-efficient validation
  .github/workflows/ci.yml
  .github/workflows/codex-autofix.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/shutdown_leak_manual.yml
  .pre-commit-config.yaml
  AGENTS.md
  README.md
  STATUS.md
  docs/StableNew_Coding_and_Testing_v2.6.md
  docs/runbooks/windows_runtime_bootstrap.md
  pyproject.toml
  scripts/bootstrap_windows.ps1
  src/services/operator_readiness_service.py
  tests/services/test_operator_readiness_service.py
  tests/system/test_ci_truth_sync_v2.py
  tests/system/test_pr_gate.py
  tools/ci/run_collection_gate.py
Due: no-daemon-threads, require-thread-registry

docs: add runtime modernization and image backend qualification roadmap
  docs/StableNew Roadmap v2.6.md
Due: none

docs: sequence Forge successor qualification before Comfy comparison
  docs/StableNew Roadmap v2.6.md
Due: none

PR-RUNTIME-DEPS-100: reproducible Windows/CPython 3.12/CUDA 13.0 ML runtime
  STATUS.md
  constraints/windows-py312-cu130.txt
  docs/CODEX_MAP.md
  docs/StableNew Roadmap v2.6.md
  docs/runbooks/windows_runtime_bootstrap.md
  scripts/bootstrap_windows.ps1
  tests/system/test_runtime_constraints.py
  tools/ci/run_required_smoke.py
  tools/runtime/__init__.py
  tools/runtime/verify_runtime_pins.py
Due: no-daemon-threads

PR-POSTPROC-100: isolate optional restoration from core native SVD
  README.md
  STATUS.md
  constraints/windows-py312-cu130.txt
  docs/CODEX_MAP.md
  docs/StableNew Roadmap v2.6.md
  docs/Subsystems/Video/PR-POSTPROC-100_Restoration_Isolation.md
  docs/runbooks/windows_runtime_bootstrap.md
  pyproject.toml
  requirements-postprocess.txt
  requirements-svd.txt
  scripts/bootstrap_windows.ps1
  src/video/restoration/__init__.py
  src/video/restoration/codeformer.py
  src/video/restoration/legacy_face_helper.py
  src/video/restoration/model_loader.py
  src/video/restoration/runtime.py
  src/video/restoration/upscaler.py
  src/video/svd_capabilities.py
  src/video/svd_postprocess.py
  src/video/svd_postprocess_worker.py
  tests/system/test_runtime_constraints.py
  tests/video/test_svd_capabilities.py
  tests/video/test_svd_postprocess.py
  tests/video/test_svd_postprocess_worker.py
  tests/video/test_svd_restoration_adapters.py
  tests/video/test_svd_restoration_readiness.py
  tools/ci/run_required_smoke.py
  tools/runtime/verify_runtime_pins.py
Due: no-daemon-threads, require-thread-registry

PR-POSTPROC-100: surface warnings from a successful postprocess worker
  docs/Subsystems/Video/PR-POSTPROC-100_Restoration_Isolation.md
  src/video/restoration/codeformer.py
  src/video/restoration/runtime.py
  src/video/svd_postprocess.py
  tests/video/test_svd_postprocess.py
  tests/video/test_svd_restoration_adapters.py
Due: no-daemon-threads, require-thread-registry

PR-PY314-100: promote StableNew to standard-GIL CPython 3.14
  .github/workflows/ci.yml
  .github/workflows/codex-autofix.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/shutdown_leak_manual.yml
  .pre-commit-config.yaml
  AGENTS.md
  README.md
  STATUS.md
  constraints/windows-py314-cu130.txt
  docs/CODEX_MAP.md
  docs/StableNew Roadmap v2.6.md
  docs/StableNew_Coding_and_Testing_v2.6.md
  docs/Subsystems/Video/PR-POSTPROC-100_Restoration_Isolation.md
  docs/runbooks/windows_runtime_bootstrap.md
  pyproject.toml
  scripts/bootstrap_windows.ps1
  src/controller/app_controller_services/background_task_coordinator.py
  src/main.py
  src/pipeline/njr_core_v26.py
  src/services/operator_readiness_service.py
  src/utils/config.py
  src/utils/thread_registry.py
  tests/controller/conftest.py
  tests/services/test_operator_readiness_service.py
  tests/system/test_ci_truth_sync_v2.py
  tests/system/test_python_runtime_contract.py
  tests/system/test_runtime_constraints.py
  tools/qualification/vid184/legal_length.py
  tools/runtime/verify_runtime_pins.py
Due: no-daemon-threads, require-thread-registry

PR-PY314-100: reject a JIT-enabled interpreter in readiness and bootstrap
  scripts/bootstrap_windows.ps1
  src/services/operator_readiness_service.py
  tests/services/test_operator_readiness_service.py
  tests/system/test_ci_truth_sync_v2.py
Due: no-daemon-threads, require-thread-registry

PR-PY314-100: validate the interpreter of a reused venv before installing
  scripts/bootstrap_windows.ps1
  tests/system/test_runtime_constraints.py
Due: no-daemon-threads

PR-COMFY-RUNTIME-100: reproducible managed ComfyUI v0.38.0 runtime
  STATUS.md
  config/managed_comfy_runtime.json
  constraints/comfy-windows-py313-cu130-v0.38.0.txt
  docs/CODEX_MAP.md
  docs/StableNew Roadmap v2.6.md
  docs/Subsystems/Video/PR-COMFY-RUNTIME-100_Managed_Comfy_Runtime.md
  docs/Subsystems/Video/PR-POSTPROC-100_Restoration_Isolation.md
  docs/Subsystems/Video/PR-VID-191_Comfy_v037_Runtime_and_Wan_Animate_2.md
  docs/runbooks/managed_comfy_runtime.md
  scripts/bootstrap_managed_comfy_windows.ps1
  src/video/comfy_workflow_backend.py
  src/video/workflow_catalog.py
  src/video/workflow_catalog_wan_animate2.py
  tests/controller/test_video_workflow_controller.py
  tests/system/test_managed_comfy_runtime.py
  tests/video/test_pr_comfy_runtime_100_workflow_versions.py
  tests/video/test_pr_vid_190_comfy_lifecycle_frame_count.py
  tests/video/test_pr_vid_192_animate2_controls.py
  tests/video/test_workflow_registry.py
  tools/acceptance/vid190_queue_recycling_acceptance.py
  tools/runtime/verify_managed_comfy.py
Due: no-daemon-threads, require-thread-registry

PR-COMFY-RUNTIME-100: repair filtered-acceptance verdict/retry and bootstrap ownership
  docs/Subsystems/Video/PR-COMFY-RUNTIME-100_Managed_Comfy_Runtime.md
  docs/runbooks/managed_comfy_runtime.md
  scripts/bootstrap_managed_comfy_windows.ps1
  tests/system/test_managed_comfy_runtime.py
  tests/tools/test_vid190_acceptance_harness_verdict.py
  tools/acceptance/vid190_queue_recycling_acceptance.py
Due: no-daemon-threads

PR-COMFY-RUNTIME-100: truthful frontend provenance key and managed launch instructions
  docs/Subsystems/Video/PR-COMFY-RUNTIME-100_Managed_Comfy_Runtime.md
  docs/runbooks/managed_comfy_runtime.md
  src/video/comfy_workflow_backend.py
  tests/system/test_managed_comfy_runtime.py
  tests/video/test_pr_comfy_runtime_100_workflow_versions.py
Due: no-daemon-threads, require-thread-registry

PR-TEST-TRUTH-210: document pre-Forge truth gate and skip policy
  STATUS.md
  docs/CODEX_MAP.md
  docs/StableNew Roadmap v2.6.md
  docs/StableNew_Coding_and_Testing_v2.6.md
  docs/Subsystems/Testing/PR-TEST-TRUTH-210_Pre_Forge_Execution_and_Test_Truth.md
Due: none

PR-TEST-TRUTH-210: fail-closed RunPlan and retire placeholder test skips
  src/pipeline/pipeline_runner.py
  src/pipeline/run_plan.py
  tests/gui/test_image_thumbnail.py
  tests/gui_v2/test_job_explanation_panel_v2.py
  tests/gui_v2/test_pipeline_queue_preview_v2.py
  tests/gui_v2/test_pipeline_run_controls_v2_add_to_queue_button.py
  tests/gui_v2/test_pipeline_run_controls_v2_pr203.py
  tests/gui_v2/test_pipeline_run_controls_v2_run_button.py
  tests/gui_v2/test_pipeline_run_controls_v2_run_now_button.py
  tests/gui_v2/test_pipeline_stage_checkbox_order_v2.py
  tests/gui_v2/test_queue_run_controls_restructure_v2.py
  tests/gui_v2/test_run_controls_states.py
  tests/gui_v2/test_zone_map_card_order_v2.py
  tests/integration/test_golden_path_suite_v2_6.py
  tests/pipeline/test_pipeline_runner.py
  tests/pipeline/test_prompt_pack_job_builder.py
  tests/pipeline/test_replay_run_plan_v2.py
  tests/pipeline/test_stage_chain_fix.py
Due: no-daemon-threads, require-thread-registry

PR-TEST-TRUTH-210: make GP11 randomizer assertion order-independent
  tests/integration/test_golden_path_suite_v2_6.py
Due: no-daemon-threads

PR-TEST-TRUTH-210: remove LoRA runtime-control skip escape hatch
  docs/Subsystems/Testing/PR-TEST-TRUTH-210_Pre_Forge_Execution_and_Test_Truth.md
  tests/gui_v2/test_pipeline_config_panel_lora_runtime.py
Due: no-daemon-threads

PR-IMG-FORGE-100: checkpoint 1 - explicit forge_webui backend (deterministic, non-default)
  config/forge_qualification_runtime.json
  docs/Subsystems/Image/PR-IMG-FORGE-100_Forge_Compatibility_Qualification.md
  src/api/client.py
  src/api/forge_client.py
  src/api/webui_process_manager.py
  src/api/webui_runtime_identity.py
  src/controller/ports/default_runtime_ports.py
  src/image_backends/__init__.py
  src/image_backends/a1111_webui_backend.py
  src/image_backends/forge_webui_backend.py
  src/image_backends/image_backend_registry.py
  src/image_backends/image_backend_types.py
  src/image_backends/webui_family_backend.py
  src/services/runtime_transition_service.py
  src/utils/config.py
  tests/api/test_forge_client.py
  tests/api/test_webui_process_manager_identity.py
  tests/api/test_webui_runtime_identity.py
  tests/controller/test_default_runtime_ports_forge.py
  tests/helpers/fake_webui_transport.py
  tests/image_backends/test_forge_webui_backend.py
  tests/integration/test_pr_img_forge_100_canonical_path.py
  tests/pipeline/test_pr_img_forge_100_cancellation.py
  tests/safety/test_forge_backend_isolation_safety.py
  tests/services/test_runtime_transition_forge.py
  tests/system/test_forge_qualification_descriptor.py
Due: no-daemon-threads, require-thread-registry

PR-IMG-FORGE-100: preserve ADetailer seeds and add qualification tooling
  config/forge_qualification_runtime.json
  docs/CODEX_MAP.md
  docs/Subsystems/Image/PR-IMG-FORGE-100_Forge_Compatibility_Qualification.md
  src/image_backends/webui_family_backend.py
  src/pipeline/executor.py
  tests/integration/test_pr_img_forge_100_canonical_path.py
  tests/pipeline/test_executor_adetailer.py
  tests/tools/test_img_forge_100_qualification.py
  tools/qualification/img_forge_100/__init__.py
  tools/qualification/img_forge_100/compare.py
  tools/qualification/img_forge_100/contact_sheet.py
  tools/qualification/img_forge_100/preflight.py
  tools/qualification/img_forge_100/provenance.py
  tools/qualification/img_forge_100/run.py
  tools/qualification/img_forge_100/runtime_capture.py
Due: no-daemon-threads, require-thread-registry

PR-IMG-FORGE-100: isolate seed regression artifact roots
  tests/pipeline/test_executor_adetailer.py
Due: no-daemon-threads

PR-IMG-FORGE-100: record isolated install packaging blockers
  config/forge_qualification_runtime.json
  docs/Subsystems/Image/PR-IMG-FORGE-100_Forge_Compatibility_Qualification.md
  tests/system/test_forge_qualification_descriptor.py
Due: no-daemon-threads

PR-IMG-FORGE-100: record YOLO-only runtime preflight blockers
  config/forge_qualification_runtime.json
  docs/Subsystems/Image/PR-IMG-FORGE-100_Forge_Compatibility_Qualification.md
  tests/system/test_forge_qualification_descriptor.py
Due: no-daemon-threads

fix(forge): qualify endpoint identity and ADetailer-Neo preflight
  config/forge_qualification_runtime.json
  docs/Subsystems/Image/PR-IMG-FORGE-100_Forge_Compatibility_Qualification.md
  src/api/webui_runtime_identity.py
  src/pipeline/executor.py
  tests/api/test_webui_runtime_identity.py
  tests/data/contracts/adetailer_neo_af228eba_schema.json
  tests/integration/test_pr_img_forge_100_canonical_path.py
  tests/pipeline/test_executor_adetailer.py
  tests/system/test_forge_qualification_descriptor.py
  tests/tools/test_img_forge_100_qualification.py
  tools/qualification/img_forge_100/preflight.py
Due: no-daemon-threads, require-thread-registry

docs(forge): record physical qualification admission hold
  config/forge_qualification_runtime.json
  docs/Subsystems/Image/PR-IMG-FORGE-100_Forge_Compatibility_Qualification.md
Due: none
