Repository destroyer42/StableNew2: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-daemon-threads, require-thread-registry

.pre-commit-config.yaml:

# Pre-commit hooks for code quality and consistency
# Install with: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Custom StableNew architectural guardrails (PR-THREAD-001)
  - repo: local
    hooks:
      # Prevent daemon=True threads
      - id: no-daemon-threads
        name: Check for daemon=True thread usage
        entry: python scripts/check_daemon_threads.py
        language: python
        types: [python]
        pass_filenames: false
        stages: [commit]
        description: "Ensures no new daemon threads are introduced (use ThreadRegistry instead)"
      
      # Ensure ThreadRegistry is used for new threads
      - id: require-thread-registry
        name: Verify threading.Thread() uses ThreadRegistry
        entry: python scripts/check_thread_registry_usage.py
        language: python
        types: [python]
        files: ^src/
        pass_filenames: true
        stages: [commit]
        description: "Validates all new threading.Thread() calls use ThreadRegistry.spawn()"
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(archive|ARCHIVE)/
      - id: end-of-file-fixer
        exclude: ^(archive|ARCHIVE)/
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
        exclude: ^(archive|ARCHIVE)/

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.15
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        exclude: ^(archive|ARCHIVE)/
      - id: ruff-format
        exclude: ^(archive|ARCHIVE)/

  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        language_version: python3.11
        exclude: ^(archive|ARCHIVE)/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [types-requests]
        exclude: ^(tests|archive|ARCHIVE)/
        args: [--ignore-missing-imports, --show-error-codes]

fix(forge): normalize persistent module state before ordinary Forge work (PR-IMG-FORGE-D110)
  src/api/forge_client.py
  src/image_backends/forge_webui_backend.py
  tests/api/test_forge_client.py
  tests/helpers/fake_webui_transport.py
  tests/image_backends/test_forge_webui_backend.py
  tests/integration/test_pr_img_forge_d110_module_state.py
Due: no-daemon-threads, require-thread-registry

docs(forge): record D100 and D110 Pair-D evidence and the qualification verdict
  STATUS.md
  docs/CODEX_MAP.md
  docs/Subsystems/Image/PR-IMG-FORGE-100_Forge_Compatibility_Qualification.md
Due: none

docs(forge): replace stale opening status with the current qualification truth
  docs/Subsystems/Image/PR-IMG-FORGE-100_Forge_Compatibility_Qualification.md
Due: none

fix(api): never auto-replay a generation POST that got a definite HTTP error (PR-HTTP-100)
  docs/CODEX_MAP.md
  src/api/client.py
  tests/api/test_http_100_definite_http_fail_fast.py
  tests/api/test_webui_api_upscale_payload.py
Due: no-daemon-threads, require-thread-registry

fix(api): one generation-POST identity; upscale transport loss is never replayed (PR-HTTP-100)
  src/api/client.py
  tests/api/test_http_100_definite_http_fail_fast.py
Due: no-daemon-threads, require-thread-registry

docs: align the HTTP-100 retry-semantics map row with the implemented ambiguity rule
  docs/CODEX_MAP.md
Due: none

PR-DEVEX-TEST-SLIM-120: Phase B1 deterministic test slimming
  src/api/webui_resource_service.py
  src/api/webui_resources.py
  src/controller/app_controller.py
  src/controller/app_controller_services/run_submission_service.py
  tests/api/test_client_adetailer_resources.py
  tests/api/test_webui_process_manager_restart_ready.py
  tests/api/test_webui_resources.py
  tests/controller/test_app_controller_resource_service_client.py
  tests/controller/test_app_controller_run_mode_defaults.py
  tests/controller/test_webui_connection_controller.py
  tests/gui_v2/test_process_logging_v2.py
  tests/integration/test_pr_img_forge_100_canonical_path.py
  tests/test_api_client.py
  tools/ci/controller_surface_baseline.json
Due: no-daemon-threads, require-thread-registry

docs: record PR-DEVEX-TEST-SLIM-120 Phase B1 measurements and findings
  STATUS.md
  docs/Subsystems/Testing/PR-DEVEX-TEST-SLIM-120_Phase_B1_Deterministic_Test_Slimming.md
Due: none

test: repair stale HTTP-100 lost-response API client regression
  STATUS.md
  docs/Subsystems/Testing/PR-DEVEX-TEST-SLIM-120_Phase_B1_Deterministic_Test_Slimming.md
  tests/test_api_client.py
Due: no-daemon-threads

test: make the true-stall watchdog test independent of host uptime
  docs/Subsystems/Testing/PR-DEVEX-TEST-SLIM-120_Phase_B1_Deterministic_Test_Slimming.md
  tests/controller/test_heartbeat_stall_fix.py
Due: no-daemon-threads

docs: close out PR-DEVEX-TEST-SLIM-120 Phase B1 with final hosted evidence
  STATUS.md
  docs/Subsystems/Testing/PR-DEVEX-TEST-SLIM-120_Phase_B1_Deterministic_Test_Slimming.md
Due: none

PR-RUNTIME-WEBUI-WATCHDOG-120: WebUI startup / UI watchdog lifecycle correctness
  STATUS.md
  docs/Subsystems/Runtime/PR-RUNTIME-WEBUI-WATCHDOG-120_WebUI_Startup_and_UI_Watchdog_Lifecycle.md
  src/app_factory.py
  src/main.py
  src/services/watchdog_system_v2.py
  src/utils/diagnostics_bundle_v2.py
  tests/app/test_webui_connection_off_tk_120.py
  tests/app/test_webui_launch_opens_browser_v2.py
  tests/controller/test_heartbeat_stall_fix.py
  tests/gui_v2/test_app_factory_watchdog_order_120.py
  tests/services/test_watchdog_first_trigger_120.py
Due: no-daemon-threads, require-thread-registry

PR-TEST-TRUTH-220: retire stale GUI controller binding tests
  docs/Subsystems/Testing/PR-TEST-TRUTH-210_Pre_Forge_Execution_and_Test_Truth.md
  docs/Subsystems/Testing/PR-TEST-TRUTH-220_GUI_Projection_Binding_Test_Truth.md
  tests/gui/test_gui_controller_bindings.py
Due: no-daemon-threads

PR-TEST-TRUTH-230: audit the tests/gui surface and recommend its disposition
  docs/Subsystems/Testing/PR-TEST-TRUTH-230_Legacy_GUI_Test_Surface_Disposition_Audit.md
Due: none

PR-TEST-TRUTH-240: drain tests/gui into canonical test owners
  docs/Subsystems/Testing/PR-TEST-TRUTH-240_GUI_Test_Surface_Drain.md
  tests/controller/test_app_controller_ui_debounce.py
  tests/controller/test_builder_pipeline_contract_v2_6.py
  tests/controller/test_controller_job_lifecycle.py
  tests/gui/README.md
  tests/gui/test_gui_controller_bindings.py
  tests/gui/test_learning_tab_wiring.py
  tests/gui/test_state_manager_legacy.py
  tests/gui/test_ui_debounce.py
  tests/gui_v2/test_image_thumbnail_v2.py
  tests/gui_v2/test_learning_plan_table_v2.py
  tests/gui_v2/test_preview_panel_add_to_queue_v2.py
  tests/gui_v2/test_queue_panel_button_positions_v2.py
Due: no-daemon-threads

PR-TEST-TRUTH-250: retire the drained tests/gui collection exception
  docs/Subsystems/Testing/PR-TEST-TRUTH-240_GUI_Test_Surface_Drain.md
  docs/Subsystems/Testing/PR-TEST-TRUTH-250_GUI_Collection_Authority_Closeout.md
  pyproject.toml
  tests/gui/README.md
  tests/system/test_ci_truth_sync_v2.py
  tools/ci/run_collection_gate.py
  tools/ci/validation_plan.py
Due: no-daemon-threads

docs: record the local census arithmetic for PR-TEST-TRUTH-250
  docs/Subsystems/Testing/PR-TEST-TRUTH-250_GUI_Collection_Authority_Closeout.md
Due: none

fix(api): first /options write must not depend on host uptime
  src/api/client.py
  tests/api/test_client_options_throttling_v2.py
Due: no-daemon-threads, require-thread-registry

PR-DEVEX-TEST-SLIM-130: remove byte-identical duplicate test files (Phase B2A)
  docs/Subsystems/Testing/PR-DEVEX-TEST-SLIM-130_Phase_B2A_Semantic_Duplicate_Consolidation.md
  tests/test_checkbox_fix.py
  tests/test_filename_fix.py
  tests/test_matrix_filenames.py
  tests/test_multi_slot_load.py
  tests/test_override_functionality.py
  tests/test_pr032.py
  tests/test_pr_gui_003c_runtime.py
  tests/test_pr_gui_004_phase_a.py
  tests/test_reprocess_batching.py
Due: no-daemon-threads

docs: record the independent verification of the B2A deletions
  docs/Subsystems/Testing/PR-DEVEX-TEST-SLIM-130_Phase_B2A_Semantic_Duplicate_Consolidation.md
Due: none

docs: record the hosted full-census result for PR-DEVEX-TEST-SLIM-130
  docs/Subsystems/Testing/PR-DEVEX-TEST-SLIM-130_Phase_B2A_Semantic_Duplicate_Consolidation.md
Due: none

PR-DEVEX-CENSUS-140: deterministic file-sharded full census
  .github/workflows/ci.yml
  docs/CODEX_MAP.md
  docs/StableNew_Coding_and_Testing_v2.6.md
  docs/Subsystems/Testing/PR-DEVEX-CENSUS-140_Parallel_Sharded_Full_Census.md
  tests/system/test_ci_truth_sync_v2.py
  tests/tools/test_ci_census_shards.py
  tests/tools/test_ci_validation_plan.py
  tools/ci/census_shards.py
  tools/ci/census_summary.py
  tools/ci/run_sharded_census.py
Due: no-daemon-threads

docs: record the accepted hosted evidence for PR-DEVEX-CENSUS-140
  STATUS.md
  docs/Subsystems/Testing/PR-DEVEX-CENSUS-140_Parallel_Sharded_Full_Census.md
Due: none

PR-GUI-100: responsive workspace and reachable controls foundation
  STATUS.md
  docs/CODEX_MAP.md
  docs/Subsystems/GUI/PR-GUI-100_Responsive_Workspace_and_Reachable_Controls.md
  src/gui/main_window_v2.py
  src/gui/scrolling.py
  src/gui/view_contracts/__init__.py
  src/gui/view_contracts/pipeline_layout_contract.py
  src/gui/view_contracts/window_layout_contract.py
  src/gui/views/pipeline_tab_frame_v2.py
  src/gui/views/review_tab_frame_v2.py
  src/gui/views/svd_tab_frame_v2.py
  src/gui/views/video_workflow_tab_frame_v2.py
  src/gui/widgets/scrollable_frame_v2.py
  tests/gui_v2/test_main_window_persistence_regressions.py
  tests/gui_v2/test_pipeline_layout_scroll_v2.py
  tests/gui_v2/test_pipeline_tab_callback_metrics_v2.py
  tests/gui_v2/test_pipeline_view_contracts.py
  tests/gui_v2/test_window_layout_normalization_v2.py
  tests/gui_v2/test_workspace_layout_resilience_v2.py
Due: no-daemon-threads, require-thread-registry

PR-GUI-100: responsive Pipeline layout below 1880 px
  STATUS.md
  docs/CODEX_MAP.md
  docs/Subsystems/GUI/PR-GUI-100_Responsive_Workspace_and_Reachable_Controls.md
  src/gui/base_generation_panel_v2.py
  src/gui/layout_v2.py
  src/gui/view_contracts/pipeline_layout_contract.py
  src/gui/views/pipeline_tab_frame_v2.py
  tests/gui_v2/test_pipeline_layout_scroll_v2.py
  tests/gui_v2/test_pipeline_view_contracts.py
Due: no-daemon-threads, require-thread-registry

PR-GUI-100: fit-driven responsive Pipeline layout
  STATUS.md
  docs/CODEX_MAP.md
  docs/Subsystems/GUI/PR-GUI-100_Responsive_Workspace_and_Reachable_Controls.md
  src/gui/layout_v2.py
  src/gui/stage_cards_v2/adetailer_stage_card_v2.py
  src/gui/view_contracts/pipeline_layout_contract.py
  src/gui/views/pipeline_tab_frame_v2.py
  src/gui/widgets/scrollable_frame_v2.py
  tests/gui_v2/test_pipeline_layout_scroll_v2.py
  tests/gui_v2/test_pipeline_view_contracts.py
Due: no-daemon-threads, require-thread-registry

docs(PR-GUI-100): record hosted-green, not-merged status
  STATUS.md
  docs/Subsystems/GUI/PR-GUI-100_Responsive_Workspace_and_Reachable_Controls.md
Due: none

PR-IMG-FORGE-120: Forge default production promotion
  src/api/webui_process_manager.py
  src/api/webui_runtime_identity.py
  src/app/bootstrap.py
  src/cli.py
  src/controller/app_controller.py
  src/controller/pipeline_controller.py
  src/controller/ports/default_runtime_ports.py
  src/controller/webui_connection_controller.py
  src/gui/main_window_v2.py
  src/image_backends/__init__.py
  src/image_backends/a1111_webui_backend.py
  src/image_backends/forge_webui_backend.py
  src/image_backends/image_backend_registry.py
  src/image_backends/image_backend_types.py
  src/main.py
  src/services/runtime_transition_service.py
  src/utils/config.py
  src/utils/managed_forge_runtime.py
  tests/api/test_forge_production_selection.py
  tests/api/test_webui_launch_profile_ownership.py
  tests/api/test_webui_launch_profile_v2.py
  tests/api/test_webui_process_manager_identity.py
  tests/api/test_webui_runtime_identity.py
  tests/app/test_bootstrap_webui_autostart.py
  tests/cli/test_cli_njr_execution.py
  tests/controller/test_default_runtime_ports_forge.py
  tests/controller/test_runtime_backend_port_wiring.py
  tests/image_backends/test_forge_webui_backend.py
  tests/image_backends/test_image_backend_contract.py
  tests/integration/test_pr_mvp_060_image_vertical_slice.py
  tests/system/test_forge_qualification_descriptor.py
  tests/system/test_managed_forge_runtime.py
  tests/test_config_passthrough.py
  tests/tools/test_img_forge_100_acceptance_driver.py
  tools/acceptance/img_forge_120_default_acceptance.py
  tools/ci/controller_surface_baseline.json
  tools/operator_journey/workspace.py
  tools/runtime/verify_managed_forge.py
Due: no-daemon-threads, require-thread-registry

docs(PR-IMG-FORGE-120): record the Forge default promotion and its acceptance
  STATUS.md
  config/managed_forge_runtime.json
  docs/ARCHITECTURE_v2.6.md
  docs/CODEX_MAP.md
  docs/StableNew Roadmap v2.6.md
  docs/Subsystems/Image/PR-IMG-116_FLUX2_Klein_Forge_Production_Slice.md
  docs/Subsystems/Image/PR-IMG-FORGE-100_Forge_Compatibility_Qualification.md
  docs/Subsystems/Image/PR-IMG-FORGE-120_Forge_Default_Production_Promotion.md
  docs/runbooks/managed_forge_runtime.md
Due: none

PR-IMG-FORGE-120: close the Forge capability mismatches before publication
  src/api/forge_client.py
  src/gui/randomizer_panel_v2.py
  src/gui/stage_cards_v2/adetailer_stage_card_v2.py
  src/image_backends/backend_capabilities.py
  src/image_backends/forge_webui_backend.py
  src/image_backends/image_backend_types.py
  src/utils/managed_forge_runtime.py
  tests/api/test_webui_resources_adetailer_v2.py
  tests/gui_v2/test_forge_capability_projection_v2.py
  tests/image_backends/test_forge_webui_backend.py
Due: no-daemon-threads, require-thread-registry

docs(PR-IMG-FORGE-120): record the Forge capability closure (Hypernetworks, ADetailer detectors)
  STATUS.md
  docs/ARCHITECTURE_v2.6.md
  docs/CODEX_MAP.md
  docs/Subsystems/Image/PR-IMG-FORGE-120_Forge_Default_Production_Promotion.md
  docs/runbooks/managed_forge_runtime.md
Due: none

docs(PR-IMG-FORGE-120): record the exact-SHA physical acceptance after the capability closure
  docs/Subsystems/Image/PR-IMG-FORGE-120_Forge_Default_Production_Promotion.md
Due: none

PR-IMG-FORGE-120: refuse Hypernetwork intent carried by the NJR's stage chain
  docs/Subsystems/Image/PR-IMG-FORGE-120_Forge_Default_Production_Promotion.md
  src/image_backends/forge_webui_backend.py
  tests/image_backends/test_forge_webui_backend.py
Due: no-daemon-threads, require-thread-registry

docs(PR-IMG-FORGE-120): record the stage-chain Hypernetwork repair and its exact-SHA physical acceptance
  STATUS.md
  docs/Subsystems/Image/PR-IMG-FORGE-120_Forge_Default_Production_Promotion.md
Due: none

docs(PR-IMG-FORGE-120): durable closeout status, no transient Git/PR lifecycle wording
  STATUS.md
  docs/Subsystems/Image/PR-IMG-FORGE-120_Forge_Default_Production_Promotion.md
Due: none

docs(PR-DOCS-STATUS-150): retire stale GUI-100 lifecycle wording
  STATUS.md
  docs/Subsystems/GUI/PR-GUI-100_Responsive_Workspace_and_Reachable_Controls.md
Due: none

Presets
  presets/global_negative.txt
  presets/global_positive.txt
Due: none

feat(PR-DEVEX-PROMPTS-170): store global prompt text in per-user state
  .gitignore
  presets/global_negative.txt
  presets/global_positive.txt
  src/prompting/global_prompt_paths.py
  src/utils/config.py
  tests/pipeline/test_global_prompt_policy.py
  tests/tools/test_img_forge_100_acceptance_driver.py
  tests/tools/test_img_forge_100_prompt_intent.py
  tests/tools/test_operator_journey_harness.py
  tests/utils/test_config_manager_global_prompts.py
  tests/utils/test_global_prompt_paths.py
  tools/operator_journey/workspace.py
Due: no-daemon-threads, require-thread-registry

docs(PR-DEVEX-PROMPTS-170): global prompt text is per-user state
  STATUS.md
  docs/ARCHITECTURE_v2.6.md
  docs/CODEX_MAP.md
  docs/Subsystems/Prompting/PR-DEVEX-PROMPTS-170_Global_Prompt_User_State.md
Due: none

test(PR-DEVEX-PROMPTS-170): prove owned modules never touch the real GlobalPrompts store
  docs/Subsystems/Prompting/PR-DEVEX-PROMPTS-170_Global_Prompt_User_State.md
  tests/helpers/global_prompt_isolation.py
  tests/pipeline/test_global_prompt_policy.py
  tests/tools/test_img_forge_100_acceptance_driver.py
  tests/tools/test_img_forge_100_prompt_intent.py
  tests/tools/test_operator_journey_harness.py
  tests/utils/test_config_manager_global_prompts.py
Due: no-daemon-threads
