Repository destroyer42/StableNew2: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-daemon-threads, require-thread-registry

.pre-commit-config.yaml:

# Pre-commit hooks for code quality and consistency
# Install with: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Custom StableNew architectural guardrails (PR-THREAD-001)
  - repo: local
    hooks:
      # Prevent daemon=True threads
      - id: no-daemon-threads
        name: Check for daemon=True thread usage
        entry: python scripts/check_daemon_threads.py
        language: python
        types: [python]
        pass_filenames: false
        stages: [commit]
        description: "Ensures no new daemon threads are introduced (use ThreadRegistry instead)"
      
      # Ensure ThreadRegistry is used for new threads
      - id: require-thread-registry
        name: Verify threading.Thread() uses ThreadRegistry
        entry: python scripts/check_thread_registry_usage.py
        language: python
        types: [python]
        files: ^src/
        pass_filenames: true
        stages: [commit]
        description: "Validates all new threading.Thread() calls use ThreadRegistry.spawn()"
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(archive|ARCHIVE)/
      - id: end-of-file-fixer
        exclude: ^(archive|ARCHIVE)/
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
        exclude: ^(archive|ARCHIVE)/

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.15
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        exclude: ^(archive|ARCHIVE)/
      - id: ruff-format
        exclude: ^(archive|ARCHIVE)/

  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        language_version: python3.11
        exclude: ^(archive|ARCHIVE)/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [types-requests]
        exclude: ^(tests|archive|ARCHIVE)/
        args: [--ignore-missing-imports, --show-error-codes]

PR-GUI-110: focused operator workspace
  STATUS.md
  docs/CODEX_MAP.md
  docs/Subsystems/GUI/PR-GUI-100_Responsive_Workspace_and_Reachable_Controls.md
  docs/Subsystems/GUI/PR-GUI-110_Focused_Operator_Workspace.md
  docs/Subsystems/Image/PR-REFINE-150_YuNet_Face_Detection.md
  docs/Subsystems/Testing/Optional_Capability_Contract_v2.6.md
  src/gui/log_trace_panel_v2.py
  src/gui/preview_panel_v2.py
  src/gui/theme_v2.py
  src/gui/tooltip.py
  src/gui/view_contracts/workspace_density_contract.py
  src/gui/views/pipeline_tab_frame_v2.py
  src/gui/views/review_tab_frame_v2.py
  src/gui/views/svd_tab_frame_v2.py
  src/gui/views/video_workflow_tab_frame_v2.py
  src/gui/widgets/action_explainer_panel_v2.py
  src/gui/widgets/disclosure_section_v2.py
  src/gui/widgets/responsive_wrap_v2.py
  src/gui/widgets/tab_overview_panel_v2.py
  src/gui/widgets/thumbnail_widget_v2.py
  tests/gui_v2/test_focused_operator_workspace_110.py
  tests/gui_v2/test_log_display_v2.py
  tests/gui_v2/test_svd_tab_frame_v2.py
  tests/gui_v2/test_workspace_density_contract_110.py
  tests/gui_v2/test_workspace_layout_resilience_v2.py
  tools/qualification/gui110/measure_workspace.py
Due: no-daemon-threads, require-thread-registry

PR-GUI-111: thumbnail recovery and truncation-gated focus tooltips
  STATUS.md
  docs/Subsystems/GUI/PR-GUI-110_Focused_Operator_Workspace.md
  docs/Subsystems/GUI/PR-GUI-111_Thumbnail_Recovery_and_Tooltip_Correctness.md
  src/gui/tooltip.py
  src/gui/widgets/thumbnail_widget_v2.py
  tests/gui_v2/test_thumbnail_tooltip_recovery_111.py
Due: no-daemon-threads, require-thread-registry

PR-IMG-MODELS-150: installed model readiness and Forge dependency preflight
  STATUS.md
  docs/CODEX_MAP.md
  docs/Subsystems/Image/PR-IMG-MODELS-150_Installed_Model_Readiness.md
  src/assets/checkpoint_structure.py
  src/assets/component_evidence.py
  src/gui/base_generation_panel_v2.py
  src/gui/model_readiness_presenter.py
  src/image_backends/forge_webui_backend.py
  src/image_backends/model_readiness.py
  src/image_backends/model_readiness_probe.py
  tests/gui_v2/test_model_readiness_presenter_150.py
  tests/helpers/fake_webui_transport.py
  tests/integration/test_pr_img_models_150_readiness.py
Due: no-daemon-threads, require-thread-registry

PR-IMG-MODELS-150: use a fixed wrap for the readiness caption
  src/gui/model_readiness_presenter.py
Due: no-daemon-threads, require-thread-registry

PR-IMG-MODELS-150: keep width-following wraps out of the Pipeline's wrap contract
  src/gui/views/pipeline_tab_frame_v2.py
  src/gui/widgets/responsive_wrap_v2.py
  tests/gui_v2/test_focused_operator_workspace_110.py
Due: no-daemon-threads, require-thread-registry

PR-IMG-MODELS-150: final repairs from independent review
  docs/Subsystems/Image/PR-IMG-MODELS-150_Installed_Model_Readiness.md
  src/api/forge_client.py
  src/assets/checkpoint_structure.py
  src/gui/model_readiness_presenter.py
  src/image_backends/model_readiness.py
  src/image_backends/model_readiness_probe.py
  tests/helpers/fake_webui_transport.py
  tests/integration/test_pr_img_models_150_readiness.py
Due: no-daemon-threads, require-thread-registry

PR-IMG-MODELS-151: read-only feasibility phase for the Klein Base 9B BF16 candidate (NO_GO_RESOURCE_RISK)
  STATUS.md
  docs/CODEX_MAP.md
  docs/Subsystems/GUI/PR-GUI-111_Thumbnail_Recovery_and_Tooltip_Correctness.md
  docs/Subsystems/Image/PR-IMG-MODELS-150_Installed_Model_Readiness.md
  docs/Subsystems/Image/PR-IMG-MODELS-151_Klein_Base_9B_Feasibility.md
  tests/tools/test_img151_feasibility.py
  tools/qualification/img151/__init__.py
  tools/qualification/img151/feasibility.py
Due: no-daemon-threads

PR-IMG-MODELS-152: header-only asset topology, bundle evidence and operator report
  STATUS.md
  docs/CODEX_MAP.md
  docs/Subsystems/Image/PR-IMG-MODELS-151_Klein_Base_9B_Feasibility.md
  docs/Subsystems/Image/PR-IMG-MODELS-152_Asset_Topology_and_Bundle_Discovery.md
  src/assets/adapter_evidence.py
  src/assets/bundles.py
  src/assets/checkpoint_structure.py
  src/assets/component_evidence.py
  src/assets/gguf.py
  src/assets/inventory_report.py
  src/assets/observation.py
  src/assets/registry.py
  src/image_backends/model_inventory_reconcile.py
  tests/assets/test_asset_topology_152.py
  tests/assets/topology_fixtures_152.py
  tests/tools/test_asset_topology_report_152.py
  tools/asset_topology_report.py
Due: no-daemon-threads, require-thread-registry

PR-IMG-MODELS-152: repair quantization scales, shard candidates and recorded-verdict attribution
  docs/Subsystems/Image/PR-IMG-MODELS-152_Asset_Topology_and_Bundle_Discovery.md
  src/assets/bundles.py
  src/assets/component_evidence.py
  src/assets/inventory_report.py
  tests/assets/test_asset_topology_152.py
  tests/assets/test_asset_topology_152_repair.py
  tools/asset_topology_report.py
Due: no-daemon-threads, require-thread-registry

PR-IMG-MODELS-152: header-only asset topology, bundle evidence and operator report (#79)
  STATUS.md
  docs/CODEX_MAP.md
  docs/Subsystems/Image/PR-IMG-MODELS-151_Klein_Base_9B_Feasibility.md
  docs/Subsystems/Image/PR-IMG-MODELS-152_Asset_Topology_and_Bundle_Discovery.md
  src/assets/adapter_evidence.py
  src/assets/bundles.py
  src/assets/checkpoint_structure.py
  src/assets/component_evidence.py
  src/assets/gguf.py
  src/assets/inventory_report.py
  src/assets/observation.py
  src/assets/registry.py
  src/image_backends/model_inventory_reconcile.py
  tests/assets/test_asset_topology_152.py
  tests/assets/test_asset_topology_152_repair.py
  tests/assets/topology_fixtures_152.py
  tests/tools/test_asset_topology_report_152.py
  tools/asset_topology_report.py
Due: no-daemon-threads, require-thread-registry

PR-IMG-MODELS-153: Z-Image-Turbo FP8-scaled pinned Forge and hardware feasibility
  STATUS.md
  docs/CODEX_MAP.md
  docs/Subsystems/Image/PR-IMG-MODELS-152_Asset_Topology_and_Bundle_Discovery.md
  docs/Subsystems/Image/PR-IMG-MODELS-153_ZImage_Turbo_FP8_Feasibility.md
  tests/assets/topology_fixtures_152.py
  tests/tools/test_img153_feasibility.py
  tools/qualification/img153/__init__.py
  tools/qualification/img153/feasibility.py
Due: no-daemon-threads

PR-IMG-MODELS-153: repair host-memory/VRAM wording, strict scale contract and safety-gate contract
  STATUS.md
  docs/Subsystems/Image/PR-IMG-MODELS-153_ZImage_Turbo_FP8_Feasibility.md
  tests/tools/test_img153_feasibility.py
  tests/tools/test_img153_repair.py
  tools/qualification/img153/feasibility.py
Due: no-daemon-threads

PR-IMG-MODELS-153: Z-Image-Turbo FP8-scaled pinned Forge and hardware feasibility (#80)
  STATUS.md
  docs/CODEX_MAP.md
  docs/Subsystems/Image/PR-IMG-MODELS-152_Asset_Topology_and_Bundle_Discovery.md
  docs/Subsystems/Image/PR-IMG-MODELS-153_ZImage_Turbo_FP8_Feasibility.md
  tests/assets/topology_fixtures_152.py
  tests/tools/test_img153_feasibility.py
  tests/tools/test_img153_repair.py
  tools/qualification/img153/__init__.py
  tools/qualification/img153/feasibility.py
Due: no-daemon-threads

PR-REFINE-160: ADetailer control truth, default passes and effectiveness evidence
  STATUS.md
  docs/CODEX_MAP.md
  docs/Subsystems/Image/PR-REFINE-160_ADetailer_Control_Truth_and_Effectiveness_Evidence.md
  src/gui/help_text/stage_setting_help_v2.py
  src/gui/stage_cards_v2/adetailer_stage_card_v2.py
  src/gui/views/review_tab_frame_v2.py
  src/pipeline/adetailer_contract.py
  src/pipeline/adetailer_effectiveness.py
  src/pipeline/executor.py
  src/pipeline/pipeline_runner.py
  src/review/adetailer_outcome.py
  src/utils/config.py
  tests/gui_v2/test_adetailer_card_truth_160.py
  tests/gui_v2/test_review_adetailer_outcome_160.py
  tests/pipeline/test_adetailer_canonical_160.py
  tests/pipeline/test_adetailer_truth_160.py
  tests/review/test_adetailer_outcome_160.py
Due: no-daemon-threads, require-thread-registry

PR-REFINE-160: fail closed on no-pass and schema-rejected ADetailer requests; update stale tests
  STATUS.md
  docs/Subsystems/Image/PR-REFINE-160_ADetailer_Control_Truth_and_Effectiveness_Evidence.md
  src/gui/stage_cards_v2/adetailer_stage_card_v2.py
  src/pipeline/adetailer_effectiveness.py
  src/pipeline/executor.py
  tests/gui_v2/test_adetailer_card_truth_160.py
  tests/gui_v2/test_forge_capability_projection_v2.py
  tests/pipeline/test_adetailer_canonical_160.py
  tests/pipeline/test_adetailer_truth_160.py
  tests/test_pr_008.py
Due: no-daemon-threads, require-thread-registry

PR-REFINE-160: documentation closeout corrections
  STATUS.md
  docs/Subsystems/Image/PR-REFINE-160_ADetailer_Control_Truth_and_Effectiveness_Evidence.md
Due: none

PR-REFINE-160 — Forge ADetailer Control Truth, Default Hand Correction & Effectiveness Evidence (#81)
  STATUS.md
  docs/CODEX_MAP.md
  docs/Subsystems/Image/PR-REFINE-160_ADetailer_Control_Truth_and_Effectiveness_Evidence.md
  src/gui/help_text/stage_setting_help_v2.py
  src/gui/stage_cards_v2/adetailer_stage_card_v2.py
  src/gui/views/review_tab_frame_v2.py
  src/pipeline/adetailer_contract.py
  src/pipeline/adetailer_effectiveness.py
  src/pipeline/executor.py
  src/pipeline/pipeline_runner.py
  src/review/adetailer_outcome.py
  src/utils/config.py
  tests/gui_v2/test_adetailer_card_truth_160.py
  tests/gui_v2/test_forge_capability_projection_v2.py
  tests/gui_v2/test_review_adetailer_outcome_160.py
  tests/pipeline/test_adetailer_canonical_160.py
  tests/pipeline/test_adetailer_truth_160.py
  tests/review/test_adetailer_outcome_160.py
  tests/test_pr_008.py
Due: no-daemon-threads, require-thread-registry

PR-IMG-MODELS-154A: Z-Image-Turbo FP8-scaled safety preparation only
  STATUS.md
  docs/CODEX_MAP.md
  docs/Subsystems/Image/PR-IMG-MODELS-154A_ZImage_Turbo_Safety_Preparation.md
  tests/tools/test_img154_evidence_guard.py
  tests/tools/test_img154_manifest_isolation.py
  tests/tools/test_img154_preflight_monitor.py
  tools/qualification/img154/__init__.py
  tools/qualification/img154/core.py
  tools/qualification/img154/evidence.py
  tools/qualification/img154/isolation.py
  tools/qualification/img154/manifest.py
  tools/qualification/img154/monitor.py
  tools/qualification/img154/preflight.py
  tools/qualification/img154/probes.py
  tools/qualification/img154/report.py
Due: no-daemon-threads

fix(img154): repair qualification safety contracts
  STATUS.md
  docs/Subsystems/Image/PR-IMG-MODELS-154A_ZImage_Turbo_Safety_Preparation.md
  tests/tools/test_img154_evidence_guard.py
  tests/tools/test_img154_manifest_isolation.py
  tests/tools/test_img154_preflight_monitor.py
  tests/tools/test_img154_safety_repair.py
  tools/qualification/img154/core.py
  tools/qualification/img154/evidence.py
  tools/qualification/img154/isolation.py
  tools/qualification/img154/manifest.py
  tools/qualification/img154/monitor.py
  tools/qualification/img154/preflight.py
  tools/qualification/img154/probes.py
  tools/qualification/img154/report.py
Due: no-daemon-threads

PR-IMG-MODELS-154B: controlled one-case Z-Image-Turbo FP8 physical-qualification harness (not run)
  STATUS.md
  docs/CODEX_MAP.md
  docs/Subsystems/Image/PR-IMG-MODELS-154B_ZImage_Turbo_Controlled_Physical_Qualification.md
  tests/tools/test_img154_manifest_isolation.py
  tests/tools/test_img154b_adjudication.py
  tests/tools/test_img154b_boundary.py
  tests/tools/test_img154b_case.py
  tests/tools/test_img154b_collector.py
  tests/tools/test_img154b_fence.py
  tests/tools/test_img154b_preflight.py
  tests/tools/test_img154b_request.py
  tests/tools/test_img154b_runtime.py
  tests/tools/test_img154b_sampler.py
  tools/qualification/img154/evidence.py
  tools/qualification/img154/manifest.py
  tools/qualification/img154/preflight.py
  tools/qualification/img154/report.py
  tools/qualification/img154b/__init__.py
  tools/qualification/img154b/adjudication.py
  tools/qualification/img154b/authorization.py
  tools/qualification/img154b/bundle.py
  tools/qualification/img154b/case.py
  tools/qualification/img154b/cli.py
  tools/qualification/img154b/collector.py
  tools/qualification/img154b/fence.py
  tools/qualification/img154b/physical.py
  tools/qualification/img154b/request.py
  tools/qualification/img154b/runtime.py
  tools/qualification/img154b/sampler.py
Due: no-daemon-threads

PR-IMG-MODELS-154B: repair the harness after the independent review (not run)
  STATUS.md
  docs/Subsystems/Image/PR-IMG-MODELS-154B_ZImage_Turbo_Controlled_Physical_Qualification.md
  tests/tools/test_img154b_authorization.py
  tests/tools/test_img154b_boundary.py
  tests/tools/test_img154b_case.py
  tests/tools/test_img154b_collector.py
  tests/tools/test_img154b_runtime.py
  tests/tools/test_img154b_sampler.py
  tools/qualification/img154/preflight.py
  tools/qualification/img154b/adjudication.py
  tools/qualification/img154b/authorization.py
  tools/qualification/img154b/bundle.py
  tools/qualification/img154b/case.py
  tools/qualification/img154b/cli.py
  tools/qualification/img154b/collector.py
  tools/qualification/img154b/fence.py
  tools/qualification/img154b/physical.py
  tools/qualification/img154b/request.py
  tools/qualification/img154b/runtime.py
  tools/qualification/img154b/sampler.py
Due: no-daemon-threads

fix(img154b): close final qualification safety contracts
  docs/Subsystems/Image/PR-IMG-MODELS-154B_ZImage_Turbo_Controlled_Physical_Qualification.md
  tests/tools/test_img154b_authorization.py
  tests/tools/test_img154b_boundary.py
  tests/tools/test_img154b_case.py
  tests/tools/test_img154b_collector.py
  tools/qualification/img154b/authorization.py
  tools/qualification/img154b/case.py
  tools/qualification/img154b/collector.py
  tools/qualification/img154b/physical.py
Due: no-daemon-threads
