Repository destroyer42/StableNew2: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-daemon-threads, require-thread-registry

no-daemon-threads:
  name: Check for daemon=True thread usage
  entry: python scripts/check_daemon_threads.py
  language: python
  pass_filenames: false
  stages:
  - commit
  description: Ensures no new daemon threads are introduced (use ThreadRegistry instead)

require-thread-registry:
  name: Verify threading.Thread() uses ThreadRegistry
  entry: python scripts/check_thread_registry_usage.py
  language: python
  pass_filenames: true
  stages:
  - commit
  description: Validates all new threading.Thread() calls use ThreadRegistry.spawn()

fix(runtime): admit independent process trees and refuse duplicate recovery
  config/forge_qualification_runtime.json
  docs/CODEX_MAP.md
  docs/Subsystems/Image/PR-IMG-FORGE-100_Forge_Compatibility_Qualification.md
  src/pipeline/executor.py
  src/utils/process_inspector_v2.py
  tests/pipeline/test_stage_admission_control_v2.py
  tests/system/test_forge_qualification_descriptor.py
  tests/utils/test_process_inspector_v2.py
Due: no-daemon-threads, require-thread-registry

docs(forge): preserve resumed cohort prompt-intent infrastructure hold
  config/forge_qualification_runtime.json
  docs/Subsystems/Image/PR-IMG-FORGE-100_Forge_Compatibility_Qualification.md
Due: none

fix(forge): preserve frozen global and optimizer prompt intent
  config/forge_qualification_runtime.json
  docs/Subsystems/Image/PR-IMG-FORGE-100_Forge_Compatibility_Qualification.md
  src/image_backends/webui_family_backend.py
  tests/data/contracts/img_forge_100_frozen_intent.json
  tests/image_backends/test_webui_family_prompt_intent.py
  tests/tools/test_img_forge_100_prompt_intent.py
  tools/qualification/img_forge_100/run.py
Due: no-daemon-threads, require-thread-registry

docs: preserve Forge cohort 3 process-observation hold
  docs/Subsystems/Image/PR-IMG-FORGE-100_Forge_Compatibility_Qualification.md
Due: none

feat(forge): thin canonical-path acceptance driver; converge physical qualification
  docs/CODEX_MAP.md
  docs/Subsystems/Image/PR-IMG-FORGE-100_Forge_Compatibility_Qualification.md
  tests/tools/test_img_forge_100_acceptance_driver.py
  tools/acceptance/img_forge_100_acceptance.py
  tools/qualification/img_forge_100/run.py
Due: no-daemon-threads

docs(forge): record Phases 4-5 baseline - CANONICAL_FORGE_BASELINE_PASS (Pair A)
  docs/Subsystems/Image/PR-IMG-FORGE-100_Forge_Compatibility_Qualification.md
Due: none

feat(forge): reproducible StableNew-managed Forge Neo runtime (PR-IMG-FORGE-RUNTIME-100)
  config/managed_forge_runtime.json
  constraints/forge-windows-py313-cu130-neo-d70373eb.txt
  docs/CODEX_MAP.md
  docs/runbooks/managed_forge_runtime.md
  scripts/bootstrap_managed_forge_windows.ps1
  tests/system/test_managed_forge_runtime.py
  tools/runtime/verify_managed_forge.py
Due: no-daemon-threads

fix(forge): declare Forge's VERSION_UID so the managed runtime launches unattended
  config/managed_forge_runtime.json
  docs/runbooks/managed_forge_runtime.md
  tests/system/test_managed_forge_runtime.py
  tools/runtime/verify_managed_forge.py
Due: no-daemon-threads

docs(forge): record PR-IMG-FORGE-RUNTIME-100 - MANAGED_FORGE_RUNTIME_REPRODUCIBILITY_PASS
  STATUS.md
  docs/Subsystems/Image/PR-IMG-FORGE-100_Forge_Compatibility_Qualification.md
  docs/runbooks/managed_forge_runtime.md
Due: none

feat(forge): acceptance driver freezes Pair B/C/D through production builders
  tests/tools/test_img_forge_100_acceptance_driver.py
  tests/tools/test_img_forge_100_acceptance_driver_bcd.py
  tools/acceptance/img_forge_100_acceptance.py
Due: no-daemon-threads

docs(forge): record Pair B/C pass and Pair D A1111 halt (launch-policy restart)
  STATUS.md
  docs/Subsystems/Image/PR-IMG-FORGE-100_Forge_Compatibility_Qualification.md
Due: none

fix(webui): manager-owned launch profiles and stage-aware completion grace
  docs/CODEX_MAP.md
  src/api/webui_process_manager.py
  src/config/app_config.py
  src/pipeline/executor.py
  tests/api/test_webui_launch_profile_ownership.py
  tests/api/test_webui_runtime_recovery_v2.py
  tests/pipeline/test_adetailer_completion_grace.py
  tests/pipeline/test_launch_profile_capability_policy.py
  tests/tools/test_img_forge_100_acceptance_driver_bcd.py
Due: no-daemon-threads, require-thread-registry

fix(adetailer): bound completion grace by enabled detector units
  docs/Subsystems/Image/PR-IMG-FORGE-100_Forge_Compatibility_Qualification.md
  src/pipeline/executor.py
  tests/pipeline/test_adetailer_completion_grace.py
  tests/pipeline/test_executor_adetailer.py
Due: no-daemon-threads, require-thread-registry

docs(forge): preserve R2 completion-bound hold
  docs/Subsystems/Image/PR-IMG-FORGE-100_Forge_Compatibility_Qualification.md
Due: none

fix: distinguish ADetailer extension activity from sampling completion
  docs/CODEX_MAP.md
  docs/Subsystems/Image/PR-IMG-FORGE-100_Forge_Compatibility_Qualification.md
  src/pipeline/executor.py
  tests/pipeline/test_adetailer_completion_grace.py
  tests/pipeline/test_adetailer_progress_semantics.py
  tests/pipeline/test_executor_adetailer.py
Due: no-daemon-threads, require-thread-registry

feat(forge): production selection of the managed Forge runtime (PR-IMG-FORGE-110)
  src/api/webui_process_manager.py
  src/image_backends/image_backend_types.py
  src/utils/config.py
  tests/api/test_forge_production_selection.py
Due: no-daemon-threads, require-thread-registry

docs(forge): FORGE-110 production promotion - FORGE_PRODUCTION_PROMOTION_PASS
  STATUS.md
  docs/Subsystems/Image/PR-IMG-FORGE-100_Forge_Compatibility_Qualification.md
  docs/runbooks/managed_forge_runtime.md
Due: none

docs(forge): trim trailing blank line
  docs/Subsystems/Image/PR-IMG-FORGE-100_Forge_Compatibility_Qualification.md
Due: none

docs(forge): correct Pair-D limitation wording to the current 90.2 s evidence
  docs/Subsystems/Image/PR-IMG-FORGE-100_Forge_Compatibility_Qualification.md
Due: none

test: align full-suite tests with Forge promotion and the identity probe
  tests/system/test_managed_forge_runtime.py
  tools/operator_journey/fake_a1111.py
Due: no-daemon-threads

test: make the fake WebUI cwd an absolute external path on every OS
  tests/tools/test_img_forge_100_acceptance_driver.py
Due: no-daemon-threads

feat(qualification): IMG-115 FLUX.2 Klein 4B FP8 target-hardware harness
  tests/tools/test_img115_harness.py
  tools/qualification/img115/__init__.py
  tools/qualification/img115/api.py
  tools/qualification/img115/run.py
  tools/qualification/img115/runtime.py
  tools/qualification/img115/spec.py
Due: no-daemon-threads

fix(qualification): IMG-115 edit cases use /img2img (txt2img+ImageStitch is rejected by Forge's API arg list)
  tests/tools/test_img115_harness.py
  tools/qualification/img115/api.py
  tools/qualification/img115/run.py
  tools/qualification/img115/spec.py
Due: no-daemon-threads

docs(image): record PR-IMG-115 Klein 4B FP8 target-hardware qualification (PASS_CONSTRAINED)
  STATUS.md
  docs/StableNew Roadmap v2.6.md
  docs/Subsystems/Image/PR-IMG-115_FLUX2_Klein_4B_FP8_Target_Hardware_Qualification.md
Due: none

fix(qualification): close IMG-115 evidence-integrity findings
  docs/Subsystems/Image/PR-IMG-115_FLUX2_Klein_4B_FP8_Target_Hardware_Qualification.md
  tests/tools/test_img115_harness.py
  tools/qualification/img115/run.py
  tools/qualification/img115/runtime.py
Due: no-daemon-threads

feat(image): FLUX.2 Klein 4B FP8 production slice on forge_webui (PR-IMG-116)
  config/forge_klein_assets.json
  scripts/install_forge_klein_assets.ps1
  src/api/forge_client.py
  src/gui/base_generation_panel_v2.py
  src/gui/controllers/review_workflow_adapter.py
  src/gui/klein_panel_projection.py
  src/gui/views/review_tab_frame_v2.py
  src/gui_v2/klein_projection.py
  src/image_backends/forge_klein_profile.py
  src/image_backends/forge_klein_readiness.py
  src/image_backends/forge_webui_backend.py
  src/image_backends/image_backend_types.py
  src/image_backends/webui_family_backend.py
  src/pipeline/cli_njr_builder.py
  src/pipeline/executor.py
  src/pipeline/job_builder_v2.py
  src/pipeline/klein_edit_reprocess.py
  src/pipeline/pipeline_runner.py
  src/pipeline/prompt_pack_job_builder.py
  src/pipeline/reprocess_builder.py
  tests/api/test_forge_client.py
  tests/gui_v2/test_klein_profile_gui.py
  tests/image_backends/test_forge_klein_profile.py
  tests/integration/test_pr_img_116_klein_canonical_path.py
  tests/pipeline/test_klein_compile_policy.py
  tests/tools/test_img_116_klein_acceptance_driver.py
  tests/tools/test_install_forge_klein_assets.py
  tools/acceptance/img_116_klein_acceptance.py
Due: no-daemon-threads, require-thread-registry

fix(forge): never skip the Klein module selection (found by the IMG-116 smoke A)
  src/api/forge_client.py
  src/pipeline/executor.py
  tests/api/test_forge_client.py
  tests/integration/test_pr_img_116_klein_canonical_path.py
Due: no-daemon-threads, require-thread-registry

docs(image): record PR-IMG-116 Klein production slice and smoke evidence
  docs/Subsystems/Image/PR-IMG-116_FLUX2_Klein_Forge_Production_Slice.md
Due: none

docs(image): record PR-IMG-116 smoke evidence and update canonical truth
  STATUS.md
  docs/CODEX_MAP.md
  docs/StableNew Roadmap v2.6.md
  docs/Subsystems/Image/PR-IMG-116_FLUX2_Klein_Forge_Production_Slice.md
Due: none

fix(image): verify Klein asset bytes and frozen edit source before dispatch (PR #38 review)
  docs/Subsystems/Image/PR-IMG-116_FLUX2_Klein_Forge_Production_Slice.md
  src/gui/klein_panel_projection.py
  src/image_backends/forge_klein_assets.py
  src/image_backends/forge_webui_backend.py
  tests/gui_v2/test_klein_profile_gui.py
  tests/image_backends/test_forge_klein_assets.py
  tests/integration/test_pr_img_116_klein_canonical_path.py
  tests/tools/test_img_116_klein_acceptance_driver.py
  tools/acceptance/img_116_klein_acceptance.py
Due: no-daemon-threads, require-thread-registry

fix(image): bind Klein asset verification to the owned serving Forge; restore Review state (PR #38 review)
  docs/Subsystems/Image/PR-IMG-116_FLUX2_Klein_Forge_Production_Slice.md
  src/api/webui_process_manager.py
  src/gui/views/review_tab_frame_v2.py
  src/image_backends/forge_klein_assets.py
  src/image_backends/forge_webui_backend.py
  tests/gui_v2/test_klein_profile_gui.py
  tests/image_backends/test_forge_klein_assets.py
  tests/integration/test_pr_img_116_klein_canonical_path.py
  tests/tools/test_img_116_klein_acceptance_driver.py
  tools/acceptance/img_116_klein_acceptance.py
Due: no-daemon-threads, require-thread-registry

fix(image): keep the Klein model profile on reprocess construction (PR-IMG-116 closeout)
  src/pipeline/reprocess_builder.py
  tests/integration/test_pr_img_116_klein_canonical_path.py
Due: no-daemon-threads, require-thread-registry

ci: risk-proportionate validation routing, cross-boundary contract gate and test census (PR-DEVEX-CI-110)
  .github/workflows/ci.yml
  STATUS.md
  docs/AGENT_OPERATING_MODEL.md
  docs/CODEX_MAP.md
  docs/StableNew Roadmap v2.6.md
  docs/StableNew_Coding_and_Testing_v2.6.md
  docs/Subsystems/Testing/PR-DEVEX-CI-110_Risk_Proportionate_CI.md
  tests/system/test_ci_truth_sync_v2.py
  tests/system/test_construction_identity_contract.py
  tests/tools/test_ci_census_summary.py
  tests/tools/test_ci_validation_plan.py
  tools/ci/census_summary.py
  tools/ci/run_required_smoke.py
  tools/ci/validation_plan.py
Due: no-daemon-threads

probe: docs-only change (PR-DEVEX-CI-110 measurement; will be closed unmerged)
  docs/ci110-probe-docs.md
Due: none

probe: bounded image-lane source change (PR-DEVEX-CI-110 measurement; will be closed unmerged)
  src/image_backends/forge_klein_readiness.py
Due: no-daemon-threads, require-thread-registry

ci: narrow image/runtime routing (no core lane), delta-scoped diff check for evidence reuse (PR-DEVEX-CI-110)
  .github/workflows/ci.yml
  tests/tools/test_ci_validation_plan.py
  tools/ci/validation_plan.py
Due: no-daemon-threads

docs: record PR-DEVEX-CI-110 hosted evidence (measured routes, census, impact)
  docs/Subsystems/Testing/PR-DEVEX-CI-110_Risk_Proportionate_CI.md
Due: none

docs: record the measured evidence-reuse run (PR-DEVEX-CI-110)
  docs/Subsystems/Testing/PR-DEVEX-CI-110_Risk_Proportionate_CI.md
Due: none

ci: safe evidence reuse, cross-domain ownership, unknown=>census, docs-truth cheap path (PR #39 review repair)
  .github/workflows/ci.yml
  STATUS.md
  docs/CODEX_MAP.md
  docs/Subsystems/Testing/PR-DEVEX-CI-110_Risk_Proportionate_CI.md
  tests/system/test_ci_truth_sync_v2.py
  tests/tools/test_ci_previous_evidence.py
  tests/tools/test_ci_validation_plan.py
  tools/ci/ci_truth.py
  tools/ci/previous_evidence.py
  tools/ci/run_required_smoke.py
  tools/ci/validation_plan.py
Due: no-daemon-threads

docs: record PR-DEVEX-CI-110 final hosted evidence on the repaired SHA
  docs/Subsystems/Testing/PR-DEVEX-CI-110_Risk_Proportionate_CI.md
Due: none

Path conditions:
  no-daemon-threads: any of: \.py$
  require-thread-registry: any of: ^src/ and \.py$
