Repository destroyer42/StableNew2: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-daemon-threads, require-thread-registry

.pre-commit-config.yaml:

# Pre-commit hooks for code quality and consistency
# Install with: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Custom StableNew architectural guardrails (PR-THREAD-001)
  - repo: local
    hooks:
      # Prevent daemon=True threads
      - id: no-daemon-threads
        name: Check for daemon=True thread usage
        entry: python scripts/check_daemon_threads.py
        language: python
        types: [python]
        pass_filenames: false
        stages: [commit]
        description: "Ensures no new daemon threads are introduced (use ThreadRegistry instead)"
      
      # Ensure ThreadRegistry is used for new threads
      - id: require-thread-registry
        name: Verify threading.Thread() uses ThreadRegistry
        entry: python scripts/check_thread_registry_usage.py
        language: python
        types: [python]
        files: ^src/
        pass_filenames: true
        stages: [commit]
        description: "Validates all new threading.Thread() calls use ThreadRegistry.spawn()"
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(archive|ARCHIVE)/
      - id: end-of-file-fixer
        exclude: ^(archive|ARCHIVE)/
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
        exclude: ^(archive|ARCHIVE)/

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.15
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        exclude: ^(archive|ARCHIVE)/
      - id: ruff-format
        exclude: ^(archive|ARCHIVE)/

  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        language_version: python3.11
        exclude: ^(archive|ARCHIVE)/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [types-requests]
        exclude: ^(tests|archive|ARCHIVE)/
        args: [--ignore-missing-imports, --show-error-codes]

docs: PR-VID-150 does not lock a next-candidate winner
  STATUS.md
  docs/Subsystems/Video/PR-VID-150_Wan22_Motion_Characterization.md
Due: none

docs: PR-VID-150 COMPLETE / ACCEPTED / INTEGRATED
  STATUS.md
  docs/Subsystems/Video/PR-VID-150_Wan22_Motion_Characterization.md
Due: none

docs: PR-VID-160A consumer-GPU motion candidate feasibility research
  docs/Subsystems/Video/PR-VID-160A_Consumer_GPU_Motion_Candidate_Feasibility.md
Due: none

docs: PR-VID-160A correct Wan2.2-Animate VRAM attribution to community
  docs/Subsystems/Video/PR-VID-160A_Consumer_GPU_Motion_Candidate_Feasibility.md
Due: none

docs: PR-VID-160A COMPLETE / ACCEPTED / INTEGRATED
  STATUS.md
  docs/Subsystems/Video/PR-VID-160A_Consumer_GPU_Motion_Candidate_Feasibility.md
Due: none

feat: PR-VID-160B Wan2.2-Animate resource-feasibility probe tooling
  docs/CODEX_MAP.md
  docs/Subsystems/Video/PR-VID-160B_Wan22_Animate_Target_Hardware_Feasibility.md
  tests/tools/test_vid160b_qualification.py
  tools/qualification/vid160b/__init__.py
  tools/qualification/vid160b/graph.py
  tools/qualification/vid160b/run.py
  tools/qualification/vid160b/telemetry.py
Due: no-daemon-threads

docs: PR-VID-160B RESOURCE_FEASIBILITY_PASS (physical result)
  STATUS.md
  docs/Subsystems/Video/PR-VID-160B_Wan22_Animate_Target_Hardware_Feasibility.md
Due: none

docs: PR-VID-160B correct verdict -- Move-mode gate still open
  STATUS.md
  docs/Subsystems/Video/PR-VID-160B_Wan22_Animate_Target_Hardware_Feasibility.md
Due: none

docs: PR-VID-160B repair stale CODEX_MAP row; mark INTEGRATED
  STATUS.md
  docs/CODEX_MAP.md
  docs/Subsystems/Video/PR-VID-160B_Wan22_Animate_Target_Hardware_Feasibility.md
Due: none

feat: PR-VID-160C Wan2.2-Animate Move-mode resource closure
  STATUS.md
  docs/CODEX_MAP.md
  docs/Subsystems/Video/PR-VID-160C_Wan22_Animate_Move_Mode_Resource_Closure.md
  tests/tools/test_vid160c_qualification.py
  tools/qualification/vid160c/__init__.py
  tools/qualification/vid160c/graph.py
  tools/qualification/vid160c/pose_asset.py
  tools/qualification/vid160c/run.py
Due: no-daemon-threads

feat: PR-VID-160C commit-aware Move-mode adjudication -- PASS_32GB
  STATUS.md
  docs/CODEX_MAP.md
  docs/Subsystems/Video/PR-VID-160C_Wan22_Animate_Move_Mode_Resource_Closure.md
  tests/tools/test_vid160c_commit_adjudication.py
  tools/qualification/vid160c/adjudicate.py
  tools/qualification/vid160c/telemetry.py
  tools/qualification/vid160c/win_memory.py
Due: no-daemon-threads

docs: PR-VID-160C COMPLETE / ACCEPTED / INTEGRATED -- PASS_32GB
  STATUS.md
  docs/Subsystems/Video/PR-VID-160C_Wan22_Animate_Move_Mode_Resource_Closure.md
Due: none

feat: PR-VID-170 Wan2.2-Animate motion-transfer characterization
  STATUS.md
  docs/CODEX_MAP.md
  docs/Subsystems/Video/PR-VID-170_Wan22_Animate_Motion_Transfer_Characterization.md
  tests/tools/test_vid170_qualification.py
  tools/qualification/vid170/__init__.py
  tools/qualification/vid170/graph.py
  tools/qualification/vid170/run.py
  tools/qualification/vid170/synthetic_pose.py
Due: no-daemon-threads

docs: PR-VID-170 record official Animate geometry; correct next-objective wording
  STATUS.md
  docs/Subsystems/Video/PR-VID-170_Wan22_Animate_Motion_Transfer_Characterization.md
Due: none

docs: PR-VID-170 COMPLETE / ACCEPTED / INTEGRATED
  docs/Subsystems/Video/PR-VID-170_Wan22_Animate_Motion_Transfer_Characterization.md
Due: none

feat: PR-VID-175 Wan2.2-Animate 480x832 interpretability gate -- PASS
  STATUS.md
  docs/CODEX_MAP.md
  docs/Subsystems/Video/PR-VID-175_Wan22_Animate_480x832_Interpretability.md
  tests/tools/test_vid175_interpretability.py
  tools/qualification/vid175/__init__.py
  tools/qualification/vid175/pose_asset_480x832.py
  tools/qualification/vid175/run.py
Due: no-daemon-threads

docs: PR-VID-175 COMPLETE / ACCEPTED / INTEGRATED
  docs/Subsystems/Video/PR-VID-175_Wan22_Animate_480x832_Interpretability.md
Due: none

feat: PR-VID-180 Wan2.2-Animate 480x832 motion-transfer characterization -- INCONCLUSIVE
  STATUS.md
  docs/CODEX_MAP.md
  docs/Subsystems/Video/PR-VID-180_Wan22_Animate_480x832_Motion_Transfer_Characterization.md
  tests/tools/test_vid180_motion_characterization.py
  tools/qualification/vid180/__init__.py
  tools/qualification/vid180/native_pose.py
  tools/qualification/vid180/run.py
Due: no-daemon-threads

docs: PR-VID-180 correct pose-conditioning causal framing, add BACKGROUND_INSTABILITY_CROSS_CASE
  STATUS.md
  docs/CODEX_MAP.md
  docs/Subsystems/Video/PR-VID-180_Wan22_Animate_480x832_Motion_Transfer_Characterization.md
Due: none

docs: PR-VID-180 COMPLETE / ACCEPTED / INTEGRATED
  STATUS.md
  docs/Subsystems/Video/PR-VID-180_Wan22_Animate_480x832_Motion_Transfer_Characterization.md
Due: none

feat: add offline A1111 asset census
  .gitignore
  docs/CODEX_MAP.md
  docs/Subsystems/Image/PR-ASSET-DISCOVERY-100_Local_A1111_Asset_Census.md
  tests/tools/test_asset_census.py
  tools/asset_census.py
Due: no-daemon-threads

chore: refine default global prompt
  presets/global_positive.txt
Due: none

feat: add local asset registry boundary
  docs/ARCHITECTURE_v2.6.md
  docs/CODEX_MAP.md
  docs/Subsystems/Image/PR-ASSET-110_Local_Asset_Registry.md
  src/assets/__init__.py
  src/assets/registry.py
  src/state/workspace_paths.py
  src/utils/embedding_scanner.py
  src/utils/lora_scanner.py
  tests/assets/test_asset_registry.py
  tests/utils/test_lora_cache_regeneration.py
  tests/utils/test_pr_gui_004_phases_bce.py
Due: no-daemon-threads, require-thread-registry

style: repair asset registry lint
  src/assets/registry.py
  src/utils/embedding_scanner.py
  src/utils/lora_scanner.py
  tests/assets/test_asset_registry.py
Due: no-daemon-threads, require-thread-registry

style: repair asset census ruff imports
  tools/asset_census.py
Due: no-daemon-threads

feat: add asset metadata compatibility profiles
  docs/ARCHITECTURE_v2.6.md
  docs/CODEX_MAP.md
  docs/Subsystems/Image/PR-ASSET-120_Provenance_Rich_Asset_Metadata.md
  src/assets/__init__.py
  src/assets/metadata.py
  tests/assets/test_asset_metadata.py
Due: no-daemon-threads, require-thread-registry

docs: capture post-5600 GPU black-screen recurrence
  STATUS.md
  docs/Subsystems/Runtime/DIAG-GPU-120_DDR5_5600_XMP_Isolation.md
  docs/Subsystems/Runtime/DIAG-GPU-130_Post_5600_Black_Screen_Recurrence.md
Due: none

feat: PR-VID-181 Wan2.2-Animate real-driving pose preprocessing gate -- PASS, GPU BLOCKED
  STATUS.md
  docs/CODEX_MAP.md
  docs/Subsystems/Video/PR-VID-181_Wan22_Animate_Real_Driving_Pose_Adjudication.md
  tests/tools/test_vid181_preprocessing_gate.py
  tools/qualification/vid181/__init__.py
  tools/qualification/vid181/driving_prep.py
  tools/qualification/vid181/finalize.py
  tools/qualification/vid181/preprocess_launcher.py
  tools/qualification/vid181/provenance.py
Due: no-daemon-threads

docs: amend DIAG-GPU-130 conclusion -- deprioritize driver isolation, target platform baseline
  STATUS.md
  docs/Subsystems/Runtime/DIAG-GPU-130_Post_5600_Black_Screen_Recurrence.md
Due: none

docs: PR-VID-181 align GPU-generation block with amended DIAG-GPU-130 conclusion
  STATUS.md
  docs/Subsystems/Video/PR-VID-181_Wan22_Animate_Real_Driving_Pose_Adjudication.md
Due: none

docs: PR-VID-181 re-source Case B locomotion control to a cleaner window
  STATUS.md
  docs/Subsystems/Video/PR-VID-181_Wan22_Animate_Real_Driving_Pose_Adjudication.md
  tools/qualification/vid181/preprocess_launcher.py
Due: no-daemon-threads

docs: PR-VID-181 record owner acceptance of the silhouetted step/jog Case B control
  STATUS.md
  docs/Subsystems/Video/PR-VID-181_Wan22_Animate_Real_Driving_Pose_Adjudication.md
Due: none

docs: PR-VID-181 record license acceptance and owner's DIAG-GPU-130 plan
  STATUS.md
  docs/Subsystems/Video/PR-VID-181_Wan22_Animate_Real_Driving_Pose_Adjudication.md
Due: none

docs: DIAG-GPU-130 record owner plan -- remove XMP at next reboot, monitor recurrence
  STATUS.md
  docs/Subsystems/Runtime/DIAG-GPU-130_Post_5600_Black_Screen_Recurrence.md
Due: none

feat: PR-VID-181 Animate real-driving pose adjudication -- ANIMATE_REAL_POSE_LOCAL_MOTION_ONLY
  STATUS.md
  docs/CODEX_MAP.md
  docs/Subsystems/Video/PR-VID-181_Wan22_Animate_Real_Driving_Pose_Adjudication.md
  tests/tools/test_vid181_runner.py
  tools/qualification/vid181/run.py
Due: no-daemon-threads

docs: close out VID-181 acceptance and XMP observation
  STATUS.md
  docs/Subsystems/Runtime/DIAG-GPU-130_Post_5600_Black_Screen_Recurrence.md
  docs/Subsystems/Video/PR-VID-181_Wan22_Animate_Real_Driving_Pose_Adjudication.md
Due: none

docs: record VID-182 basic retarget gate
  STATUS.md
  docs/Subsystems/Video/PR-VID-181_Wan22_Animate_Real_Driving_Pose_Adjudication.md
  docs/Subsystems/Video/PR-VID-182_Wan22_Animate_Basic_Pose_Retargeting_Adjudication.md
Due: none

docs: accept VID-182 applicability gate
  STATUS.md
  docs/Subsystems/Video/PR-VID-182_Wan22_Animate_Basic_Pose_Retargeting_Adjudication.md
Due: none

PR-VID-183 controlled basic retargeting A/B
  STATUS.md
  docs/CODEX_MAP.md
  docs/Subsystems/Video/PR-VID-183_Wan22_Animate_Basic_Retargeting_Controlled_AB.md
  tests/tools/test_vid183_controlled_retarget.py
  tools/qualification/vid183/__init__.py
  tools/qualification/vid183/finalize.py
  tools/qualification/vid183/preprocess_launcher.py
  tools/qualification/vid183/provenance.py
  tools/qualification/vid183/run.py
  tools/qualification/vid183/source_prep.py
Due: no-daemon-threads

devex: add StableNew agent delivery architecture
  .claude/skills/bug-investigation/SKILL.md
  .claude/skills/feature-delivery/SKILL.md
  .claude/skills/release-preflight/SKILL.md
  .claude/skills/security-review/SKILL.md
  .claude/skills/technology-research/SKILL.md
  .claude/skills/verify-change/SKILL.md
  .github/agents/stablenew-architect.agent.md
  .github/agents/stablenew-builder.agent.md
  .github/agents/stablenew-delivery.agent.md
  .github/agents/stablenew-release.agent.md
  .github/agents/stablenew-researcher.agent.md
  .github/agents/stablenew-security.agent.md
  .github/agents/stablenew-verifier.agent.md
  CLAUDE.md
  docs/AGENT_OPERATING_MODEL.md
  docs/AGENT_PROMPT_EXAMPLES.md
  docs/templates/AGENT_DECISION_REQUEST.md
  docs/templates/AGENT_FEATURE_BRIEF.md
  scripts/agent_context.ps1
  scripts/agent_preflight.ps1
Due: none
